include ../b-info-consult/b-info-consult

mixin b-about()

  .section-about
    .container
      .row
        .col-xl-8
          .user-content
            h1.ui-title Про проект
            p.lead Порядок проведення консультацій з громадськістю з питань формування та реалізації державної політики затверджений постановою Кабінету Міністрів України від 3 листопада 2010 року № 996.
            p.lead Консультації з громадськістю проводяться з метою залучення громадян до участі в управлінні державними справами, надання можливості для їх вільного доступу до інформації про діяльність органів виконавчої влади, а також забезпечення гласності, відкритості та прозорості діяльності зазначених органів.
            h2 Проведення консультацій з громадськістю сприяє:
            ul
              li Налагодженню системного діалогу органів влади з громадськістю;
              li Підвищенню якості підготовки рішень з важливих питань державного і суспільного життя з урахуванням громадської думки;
              li Створенню умов для участі громадян у розробленні проектів таких рішень;
            h2 Додаткова інформація
            p Також в 2017 році уряд затвердив «Концепцію розвитку електронної демократії»

        .col-xl-4
          aside.d-none.d-xl-block
            +b-info-consult()

  // end .b-about
