extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Перелік сторінок
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="index.html" target="_blank") Головна
              li
                a.text-success(href="index-full.html" target="_blank") Головна повна
              li
                a.text-success(href="index_test.html" target="_blank") Головна тестовая модаль
              li
                a.text-success(href="about.html" target="_blank") Про нас
              li
                a.text-success(href="login.html" target="_blank") Логін
              li
                a.text-success(href="registration.html" target="_blank") Регістрація
              li
                a.text-success(href="category.html" target="_blank") Категорія
              li
                a.text-success(href="search.html" target="_blank") Пошук
              li
                a.text-success(href="search_null.html" target="_blank") Пошук / не знайдено
              li
                a.text-success(href="form-appeal.html" target="_blank") Відгуки та пропозиції
              li
                a.text-success(href="new-project.html" target="_blank") Створити проект
              li
                a.text-success(href="project.html" target="_blank") Проект
              li
                a.text-success(href="new-idea.html" target="_blank") Створити ідею
              li
                a.text-success(href="idea.html" target="_blank") Ідея
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="ui.html" target="_blank") UI

  .page__buffer
