extends _template.pug

include ../components/b-post/b-post

block head
  head
    +head(head.about)


block header
  +header('', 'breadcrumb', 'Про проект', 'userLogin')(class="header_inner-page")


block content
  main.l-main-content

    section.section-area
      .container
        .ui-title-block
          .row.justify-content-end.align-items-end
            .col
              h1.ui-title-page Соціальний захист

            .col-auto
              .ui-title-links
                span.ui-title-links__item.active Триває голосування
                a.ui-title-links__item(href="#") Підтримані
                a.ui-title-links__item(href="#") Реалізовані
                a.ui-title-links__item(href="#") Відхилені
                a.ui-title-links__item(href="#") Усі проекти
                a.ui-title-links__item(href="#") Архів

        .row
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
          .col-xl-4.col-lg-6
            +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')


        .row.justify-content-center.mt-1
          .col-sm-8
            nav(aria-label="Навігація по сторінкам")
              ul.pagination.justify-content-center
                li
                  a(href="#" aria-label="Попередня")
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '24', iconHeight: '24'})
                li
                  a(href="#" aria-label="1") 1
                li
                  a(href="#" aria-label="2") 2
                li.active(aria-current="page")
                  a(href="#" aria-label="3") 3
                li
                  a(href="#" aria-label="4") 4
                li
                  a(href="#" aria-label="Наступна")
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})


    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')

  // end .main-content
  |
  |
