extends _template.pug

include ../components/b-post/b-post

block head
  head
    +head(head.about)


block header
  +header('', 'breadcrumb', 'Про проект', 'userLogin')(class="header_inner-page")


block content
  main.l-main-content

    +b-post-full()

    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')

  // end .main-content
  |
  |




block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // File input customization
  script(src="assets/plugins/dropzone.js")


  // Slider
  script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
