extends _template.pug

include ../components/b-post/b-post
include ../components/b-main-scale/b-main-scale
include ../components/b-map/b-map
include ../components/b-filter/b-filter
include ../components/b-brand/b-brand
include ../components/b-info/b-info
include ../components/b-bnr/b-bnr

block head
  head
    +head(head.home)

block header
  +header('headerMain', '', '')

block content

  main.l-main-content
    +b-main-scale()

    +b-map()

    +b-bnr()

    +b-map-2()



    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')


block scripts
  // Slider
  script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')

  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")

  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")


  // Slider number
  script(src="assets/plugins/noUiSlider/nouislider.min.js")
  script(src="assets/plugins/noUiSlider/wNumb.js")
