extends _template.pug

include ../components/b-login/b-login

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', 'breadcrumb', 'Вхід до системи')(class="header_inner-page")

block content
  main.l-main-content
    .container
      h1.ui-title-page.text-center Вхід
      .row
        .col-lg-4.offset-lg-4
          +b-login()

    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')


  // end .l-main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

