extends _template.pug

include ../components/b-info/b-info
include ../components/b-form-project/b-form-project

block head
  head
    +head(head.about)


block header
  +header('', 'breadcrumb', 'Створити', 'userLogin')(class="header_inner-page")


block content
  main.l-main-content

    section.section-area
      .container
        h1.ui-title-page Створити ідею

        .row
          .col-xl-8
            +b-form-project_idea()
          .col-xl-4
            +b-info()(class="d-none d-xl-block")

    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')

  // end .main-content
  |
  |




block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // File input customization
  script(src="assets/plugins/dropzone.js")
