extends _template.pug

include ../components/b-registration/b-registration

block head
  head
    +head(head.about)


block header
  +header('', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-md-8.offset-md-2
          section.section-registration
            h1.ui-title-page.text-center Реєстрація
            +b-registration()


    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')

  // end .l-main-content
  |
  |


block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")






