extends _template.pug

include ../components/b-post/b-post
include ../components/b-filter/b-filter

block head
  head
    +head(head.about)


block header
  +header('', 'breadcrumb', 'Про проект', 'userLogin')(class="header_inner-page")


block content
  main.l-main-content

    section.section-area
      .container
        .ui-title-block
          .row.justify-content-end.align-items-end
            .col
              h1.ui-title-page Пошук

            .col-auto
              .ui-title-links
                span.ui-title-links__item.active Триває голосування
                a.ui-title-links__item(href="#") Підтримані
                a.ui-title-links__item(href="#") Реалізовані
                a.ui-title-links__item(href="#") Відхилені
                a.ui-title-links__item(href="#") Усі проекти
                a.ui-title-links__item(href="#") Архів

        .row
          .col-md-4
            +b-filter()

          .col-md-8
            +b-search()(class="mb-4 bg-gray")
            .b-search__info Нажаль, нічого не знайдено. <br>Спробуйте перевірити, чи немає помилок.



    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька обласна державна адмістрація')
          .col-lg-4.col-md-6
            +b-brand('4', 'ПРООН в України')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство регіонального розвитку України')

  // end .main-content
  |
  |


block scripts
  // Slider number
  script(src="assets/plugins/noUiSlider/nouislider.min.js")
  script(src="assets/plugins/noUiSlider/wNumb.js")
