mixin b-filter()

  .b-filter.bg-gray
    button.b-filter__trigger.d-md-none(type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter") Налаштування
    .b-filter__main#collapseFilter
      .b-filter__card
        .b-filter__header Тип проекту
        .b-filter__body
          .custom-control.custom-checkbox
            input.custom-control-input#status1(type="checkbox")
            label.custom-control-label(for="status1") Всі
          .custom-control.custom-checkbox
            input.custom-control-input#status2(type="checkbox")
            label.custom-control-label(for="status2") Малий (до 500 000 грн)
          .custom-control.custom-checkbox
            input.custom-control-input#status3(type="checkbox")
            label.custom-control-label(for="status3") Великий (до 3 000 000 грн)

      .b-filter__card
        .b-filter__header Категорія проекту
        .b-filter__body
          .custom-control.custom-checkbox
            input.custom-control-input#status4(type="checkbox")
            label.custom-control-label(for="status4") Загального значення
          .custom-control.custom-checkbox
            input.custom-control-input#status5(type="checkbox")
            label.custom-control-label(for="status5") Пов’язані з житловим сектором
          .custom-control.custom-checkbox
            input.custom-control-input#status6(type="checkbox")
            label.custom-control-label(for="status6") Пов’язані з комунальними закладами

      .b-filter__card
        .b-filter__header Галузь проекту
        .b-filter__body
          .custom-control.custom-checkbox
            input.custom-control-input#status7(type="checkbox")
            label.custom-control-label(for="status7") Всі
          .custom-control.custom-checkbox
            input.custom-control-input#status8(type="checkbox")
            label.custom-control-label(for="status8") Велоінфраструктура
          .custom-control.custom-checkbox
            input.custom-control-input#status9(type="checkbox")
            label.custom-control-label(for="status9") Безпека та порядок
          .custom-control.custom-checkbox
            input.custom-control-input#status10(type="checkbox")
            label.custom-control-label(for="status10") Телекомунікації, ІТ та зв'язок
          .custom-control.custom-checkbox
            input.custom-control-input#status11(type="checkbox")
            label.custom-control-label(for="status11") Охорона здоров'я
          .custom-control.custom-checkbox
            input.custom-control-input#status12(type="checkbox")
            label.custom-control-label(for="status12") Соціальний захист
          .custom-control.custom-checkbox
            input.custom-control-input#status13(type="checkbox")
            label.custom-control-label(for="status13") Спорт
          .custom-control.custom-checkbox
            input.custom-control-input#status14(type="checkbox")
            label.custom-control-label(for="status14") Освіта
          .custom-control.custom-checkbox
            input.custom-control-input#status15(type="checkbox")
            label.custom-control-label(for="status15") Інше

      .b-filter__card
        .b-filter__header Бюджет
        .b-filter__body
          .b-filter__slider.js-slider-value(data-step="10000" data-min="0" data-max="3000000" data-default='[500000, 2500000]' data-postfix=" грн")

      .b-filter__card
        .b-filter__header Кількість голосів
        .b-filter__body
          .b-filter__slider.js-slider-value(data-step="10" data-min="0" data-max="5000" data-default='[1000, 4000]' data-postfix="")

      .b-filter__card.mt-5
        button.btn-link.mb-2(type="button") Обрати всі
        .w-100
        button.btn-link(type="button") Очистити фільтри

  // end .b-filter
  |
  |

