.b-filter {
  padding: 10px 18px 10px 23px;
  &__slider {
    margin: 56px 20px 35px;
  }
  &__card {
    margin-bottom: 27px;
  }
  &__header {
    color: #848e99;
    font-weight: 600;
    margin-bottom: 32px;
  }
  &__body {}
  &__trigger {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.25rem;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    &:after {
      margin-left: 10px;
      content: '';
      width: 10px;
      height: 10px;
      border-style: solid;
      border-width: 2px;
      border-color: #000  #000 transparent transparent;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      transition: all .3s;
      transform: rotate(45deg);
    }
    &[aria-expanded="true"] {
      &:after {
        transform: rotate(135deg);
      }
    }
  }

  .custom-control-label {
    font-weight: 600;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }
}
