mixin b-post(img, title, category)

  a.b-post(href="#")
    .b-post__header
      .b-post__media
        img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="foto")
      .b-post__title.ui-title-inner= title
      .b-post__category= category

    .b-post__inner
      .row.justify-content-between.mb-4.pb-2
        .col-auto
          .b-post__meta
            .b-post__meta-item
              span.b-post__meta-title №
              span.ui-meta 1 253
            .b-post__meta-item
              != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
              span.ui-meta 12 653
        .col-auto.pl-sm-0
          .b-post__info.text-red До завершення залишилось 4 дні

      .row.justify-content-between
        .col-auto
          span.b-post__number 4 400 000
          span.b-post__info гривень
        .col-auto.pl-sm-0
          span.b-post__number.text-green 99 123
          span.b-post__info підтримало

  // end b-post


mixin b-post-full()

  article.b-post-f
    .container
      h1.b-post-f__title.ui-title-page Облаштування прибудинкової території паліативного відділення Запорізської центральної районної лікарні
      .row
        .col-lg-8
          .b-post-f__content
            p Проектом передбачається створення сучасного благоустрою на території паліативного відділення  центральної районної лікарні для забезпечення максимально можливої якості життя хворих шляхом полегшення страждань пацієнтів методами ад’ювантної, ландшафтної та музотерапії, цілодобового кваліфікованого медичного догляду, психологічної, соціальної та духовної підтримки.
            h2.b-post-f__title-inner Місце реалізації проекту:
            p вул. Закревського, 15Б

          .b-post-f__meta
            .b-post-f__download
              a.ui-meta(href="#") PowerPoint.PPTX, 1.4Мб
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") DOC, 753кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") Passport_View.DOC, 745кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})

          .ui-carousel
            .ui-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")

            .ui-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 5, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")

        .col-lg-4
          .b-post-descrip.row.no-gutters
            .b-post-descrip__title.col-md-6 Номер проекту:
            .b-post-descrip__info.col-md-6 1234
            .b-post-descrip__title.col-md-6 Ініціатор:
            .b-post-descrip__info.col-md-6 Констянтин Констянтинович  Константінопольский
            .b-post-descrip__title.col-md-6 Дата початку збору голосів:
            .b-post-descrip__info.col-md-6 31.05.2018
            .b-post-descrip__title.col-md-6 Категорія проекту:
            .b-post-descrip__info.col-md-6 проект загального значення
            .b-post-descrip__title.col-md-6 Напрямок проекту:
            .b-post-descrip__info.col-md-6 облаштування зон відпочинку
            .b-post-descrip__title.col-md-6 Тип проекту за вартістю:
            .b-post-descrip__info.col-md-6 малий проект
            .b-post-descrip__title.col-md-6 Бюджет:
            .b-post-descrip__info.col-md-6
              span.b-post-descrip__number 23 000
              span.b-post-descrip__note гривень

            .b-post-descrip__title.col-md-6 Підтримало:
            .b-post-descrip__info.col-md-6
              span.b-post-descrip__number.text-green 9 320
              span.b-post-descrip__note 267 онлайн
              span.b-post-descrip__note 9053 офлайн

          button.btn.btn-primary.mt-4(type="button") Підтримати


  // end .b-post
  |
  |

mixin b-post-full()

  article.b-post-f
    .container
      h1.b-post-f__title.ui-title-page Облаштування прибудинкової території паліативного відділення Запорізської центральної районної лікарні
      .row
        .col-lg-8
          .b-post-f__content
            p Проектом передбачається створення сучасного благоустрою на території паліативного відділення  центральної районної лікарні для забезпечення максимально можливої якості життя хворих шляхом полегшення страждань пацієнтів методами ад’ювантної, ландшафтної та музотерапії, цілодобового кваліфікованого медичного догляду, психологічної, соціальної та духовної підтримки.
            .b-post-f__title-inner Місце реалізації проекту:
            p вул. Закревського, 15Б
            .b-post-f__title-inner Назва установи / закладу:
            p вул. Закревського, 15Б
            .b-post-f__title-inner Адреса місця реалізації проекту:
            p вул. Закревського, 15Б
            .b-post-f__title-inner Назва установи / закладу:
            p КП «Запоріжжятеплоенерготорг»
            .b-post-f__title-inner Проблема:
            p Наразі у школах майже відсутні шкільні програми з навчання турботи про спільне, вміння формувати команди та проектної роботи.
            .b-post-f__title-inner Мета проекту:
            p вул. Закревського, 15Б
            .b-post-f__title-inner Пропоноване рішення вирішення проблеми і його обґрунтування:
            p Провести для дітей у школі конкурс проектів на платформі аналогу Громадського бюджету.
            .b-post-f__title-inner Для кого цей проект:
            p учні шкіл
            .b-post-f__title-inner План заходів з реалізації проекту:
            p Створення комісії; Проведення інформкампанії; Подача ідей; Голосування; Реалізація проектів переможців; Преміювання переможців
            .b-post-f__title-inner Ключові показники оцінки результату проекту:
            p Кількість учасників та проектів
            .b-post-f__title-inner Орієнтовна загальна вартість проекту:
            p 193 000 грн
            .b-post-f__title-inner Очікуваний термін реалізації проекту:
            p 10 місяців
            .b-post-f__title-inner Ризики (перешкоди) у реалізації проекту:
            p Інноваційний проект - не потребує подальшого фінансування
            .b-post-f__title-inner Приклади схожих рішень:
            p Інноваційний проект - не потребує подальшого фінансування

            .b-post-f__title-inner Бюджет проекту:

            .ui-table__wrap.mt-4.mb-5
              .table-responsive-md
                table.b-post-table.ui-table.table.table-borderless.table-hover
                  thead
                    tr
                      th Найменування товарів (робіт, послуг)
                      th Ціна за одиницю, грн.
                      th Вартість, грн.

                  tbody
                    tr
                      td Демонтаж перегородок
                      td.text-nowrap 340
                      td.text-nowrap 17 680
                    tr
                      td Шпатлевка, грунтовка и окраска оштукатуренных поверхностей
                      td.text-nowrap 340
                      td.text-nowrap 17 680
                    tr
                      td Возведение перегородок из пеноблоков
                      td.text-nowrap 340
                      td.text-nowrap 17 680


          .b-post-f__meta
            .b-post-f__download
              a.ui-meta(href="#") PowerPoint.PPTX, 1.4Мб
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") DOC, 753кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") Passport_View.DOC, 745кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})

          .ui-carousel
            .ui-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")
              .ui-carousel__main-item
                img.img-scale(src="assets/media/content/b-post/slider/main/1.jpg", alt="foto")

            .ui-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 5, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")
              .ui-carousel__nav-item
                img.img-scale(src="assets/media/content/b-post/slider/thumbnails/1.jpg", alt="foto")

        .col-lg-4
          .b-post-descrip.row.no-gutters
            .b-post-descrip__title.col-md-6 Номер проекту:
            .b-post-descrip__info.col-md-6 1234
            .b-post-descrip__title.col-md-6 Ініціатор:
            .b-post-descrip__info.col-md-6.mb-4 Констянтин Констянтинович  Константінопольский
            .b-post-descrip__title.col-md-6 Статус проету:
            .b-post-descrip__info.col-md-6 Підтверджено
            .b-post-descrip__title.col-md-6 Дата початку збору голосів:
            .b-post-descrip__info.col-md-6 31.05.2018
            .b-post-descrip__title.col-md-6 Тип проекту:
            .b-post-descrip__info.col-md-6 Малий
            .b-post-descrip__title.col-md-6 Категорія проекту:
            .b-post-descrip__info.col-md-6 Комунальне господарство
            .b-post-descrip__title.col-md-6 Бюджет:
            .b-post-descrip__info.col-md-6
              span.b-post-descrip__number 23 000
              span.b-post-descrip__note гривень

            .b-post-descrip__title.col-md-6 Підтримало:
            .b-post-descrip__info.col-md-6.mb-4
              span.b-post-descrip__number.text-green 9 320
              span.b-post-descrip__note 267 онлайн

          .b-post-descrip__title Зібрано з необхідної суми:
          .b-post-progress
            .row.justify-content-between
              .col-auto
                span.b-post-progress__number 2 276
                |  гривень
              .col-auto
                span.b-post-progress__number 23 000
                |  гривень
            .progress
              .progress-bar.bg-primary(role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemax="100")

          .ui-title Підтримайте ідею:
          .b-idea-donate.row.no-gutters
            .b-idea-donate__item.col-6.col-xl-4
              button.b-idea-donate__link.b-idea-donate__link_dark.bg-primary(type="button") 50 грн
            .b-idea-donate__item.col-6.col-xl-4
              button.b-idea-donate__link.b-idea-donate__link_dark.bg-primary(type="button") 100 грн
            .b-idea-donate__item.col-6.col-xl-4
              button.b-idea-donate__link.b-idea-donate__link_dark.bg-primary(type="button") 200 грн
            .b-idea-donate__item.col-6.col-xl-4
              button.b-idea-donate__link.b-idea-donate__link_dark.bg-primary(type="button") 500 грн
            .b-idea-donate__item.col-6.col-xl-4
              button.b-idea-donate__link.b-idea-donate__link_dark.bg-primary(type="button") 1 000 грн
            .b-idea-donate__item.col-6.col-xl-4
              button.b-idea-donate__link.b-idea-donate__link_no-bg(type="button") інше


  // end .b-post
  |
  |
