.b-info {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 44px 34px 20px;
  &__item {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 5px;
  }
  &__data {
    color: #3a4257;
    font-size: 2rem;
    font-weight: 600;
  }
}
