mixin b-info()

  .b-info(class!=attributes.class)
    .b-info__item
      .b-info__title Подано проектів
      .b-info__data 6 416
    .b-info__item
      .b-info__title Голосів за проекти
      .b-info__data 13 570
    .b-info__item
      .b-info__title Проектів на реалізації
      .b-info__data 135
    .b-info__item
      .b-info__title Загальний бюджет поданих проектів
      .b-info__data 56 450 000

  // end .b-info
  |
  |
