mixin b-soc-link
  ul.soc-link.list-inline(class!=attributes.class)
    li.soc-link__item.list-inline-item
      a.soc-link__link(href="#")
        i.ic.fab.fa-facebook-square
    li.soc-link__item.list-inline-item
      a.soc-link__link(href="#")
        i.ic.fab.fa-twitter

  // end .b-soc-link

