mixin b-welcome()

  section.b-welcome(class!=attributes.class)
    .row
      .col-md-auto
        .b-welcome__second
          .b-welcome__img
            img.img-scale(src="assets/media/content/b-welcome/1.jpg", alt="foto")
          span.b-welcome__name Буряк Володимир Вікторович
      .col-md
        .b-welcome__main
          h2.b-welcome__title За ініціативою міського голови
          .b-welcome__info Щиро вітаю Вас, шановні громадяни, на оновленому офіційному веб-сервісі з бюджету участі нашого міста. Він дозволяє мешканцям взяти участь та вирішити, як і де бюджетні кошти можуть використовуватися заради поліпшення життя нашого рідного міста. Сподіваюся, що Ви знайдете тут для себе все, що допоможе вирішити проблеми, які стосуються життєдіяльності Запоріжжя та отримаєте необхідну Вам інформацію.
  // end .b-welcome
  |
  |
