mixin b-map()

  section.b-map.section-default.mb-lg-0.mb-5
    .container
      .ui-title-block
        .row.justify-content-end.align-items-end
          .col
            h2.ui-title Популярні проекти,<br>по яким триває голосування

          .col-auto
            ul.b-map-nav.nav#mapTab(role="tablist")
              li.b-map-nav__item
                a.b-map-nav__link.active#map-tab(data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="true") На мапі
                  i.ic.fas.fa-map
              li.b-map-nav__item
                a.b-map-nav__link#projects-tab(data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false")
                  i.ic.fas.fa-th-list
                  | Списком

            .ui-title-links
              span.ui-title-links__item.active Триває голосування
              a.ui-title-links__item(href="#") Підтримані
              a.ui-title-links__item(href="#") Реалізовані
              a.ui-title-links__item(href="#") Відхилені
              a.ui-title-links__item(href="#") Усі проекти
              a.ui-title-links__item(href="#") Архів






      .row
        .col-md-4
          +b-filter()
            .b-filter__card
              .b-filter__header Тип проекту
              .b-filter__body
                .custom-control.custom-checkbox
                  input.custom-control-input#status1(type="checkbox")
                  label.custom-control-label(for="status1") Всі
                .custom-control.custom-checkbox
                  input.custom-control-input#status2(type="checkbox")
                  label.custom-control-label(for="status2") Малий (до 500 000 грн)
                .custom-control.custom-checkbox
                  input.custom-control-input#status3(type="checkbox")
                  label.custom-control-label(for="status3") Великий (до 3 000 000 грн)

            .b-filter__card
              .b-filter__header Категорія проекту
              .b-filter__body
                .custom-control.custom-checkbox
                  input.custom-control-input#status4(type="checkbox")
                  label.custom-control-label(for="status4") Загального значення
                .custom-control.custom-checkbox
                  input.custom-control-input#status5(type="checkbox")
                  label.custom-control-label(for="status5") Пов’язані з житловим сектором
                .custom-control.custom-checkbox
                  input.custom-control-input#status6(type="checkbox")
                  label.custom-control-label(for="status6") Пов’язані з комунальними закладами

            .b-filter__card
              .b-filter__header Галузь проекту
              .b-filter__body
                .custom-control.custom-checkbox
                  input.custom-control-input#status7(type="checkbox")
                  label.custom-control-label(for="status7") Всі
                .custom-control.custom-checkbox
                  input.custom-control-input#status8(type="checkbox")
                  label.custom-control-label(for="status8") Велоінфраструктура
                .custom-control.custom-checkbox
                  input.custom-control-input#status9(type="checkbox")
                  label.custom-control-label(for="status9") Безпека та порядок
                .custom-control.custom-checkbox
                  input.custom-control-input#status10(type="checkbox")
                  label.custom-control-label(for="status10") Телекомунікації, ІТ та зв'язок
                .custom-control.custom-checkbox
                  input.custom-control-input#status11(type="checkbox")
                  label.custom-control-label(for="status11") Охорона здоров'я
                .custom-control.custom-checkbox
                  input.custom-control-input#status12(type="checkbox")
                  label.custom-control-label(for="status12") Соціальний захист
                .custom-control.custom-checkbox
                  input.custom-control-input#status13(type="checkbox")
                  label.custom-control-label(for="status13") Спорт
                .custom-control.custom-checkbox
                  input.custom-control-input#status14(type="checkbox")
                  label.custom-control-label(for="status14") Освіта
                .custom-control.custom-checkbox
                  input.custom-control-input#status15(type="checkbox")
                  label.custom-control-label(for="status15") Інше

            .b-filter__card
              .b-filter__header Бюджет
              .b-filter__body
                .b-filter__slider.js-slider-value(data-step="10000" data-min="0" data-max="3000000" data-default='[500000, 2500000]' data-postfix=" грн")

            .b-filter__card
              .b-filter__header Кількість голосів
              .b-filter__body
                .b-filter__slider.js-slider-value(data-step="10" data-min="0" data-max="5000" data-default='[1000, 4000]' data-postfix="")

            .b-filter__card.mt-5
              button.btn-link.mb-2(type="button") Обрати всі
              .w-100
              button.btn-link(type="button") Очистити фільтри



        .col-md-8
          .tab-content#mapTabContent
            .tab-pane.fade.show.active#map(role="tabpanel" aria-labelledby="map-tab")
              .b-map__main
                .map-main#map-main
            .tab-pane.fade#projects(role="tabpanel" aria-labelledby="projects-tab")
              .b-project-group.row
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Освіта')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Інше')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Спорт')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Спорт')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')


  // end .b-map
  |
  |


mixin b-map-2()

  section.b-map.section-default
    .container


      .ui-title-block
        .row.justify-content-end.align-items-start
          .col
            ul.ui-nav-title.list-inline
              li.ui-nav-title__item.list-inline-item
                a.ui-title.active Популярні ідеї
              li.ui-nav-title__item.list-inline-item
                a.ui-title Останні додани
          .col-auto
            .d-none.d-lg-block
              ul.b-map-nav.nav#mapTab2(role="tablist")
                li.b-map-nav__item
                  a.b-map-nav__link.active#map-tab2(data-toggle="tab" href="#map2" role="tab" aria-controls="map2" aria-selected="true") На мапі
                    i.ic.fas.fa-map
                li.b-map-nav__item
                  a.b-map-nav__link#projects-tab2(data-toggle="tab" href="#projects2" role="tab" aria-controls="projects2" aria-selected="false")
                    i.ic.fas.fa-th-list
                    | Списком

            .ui-title-links
              span.ui-title-links__item.active Триває голосування
              a.ui-title-links__item(href="#") Підтримані
              a.ui-title-links__item(href="#") Реалізовані
              a.ui-title-links__item(href="#") Відхилені
              a.ui-title-links__item(href="#") Усі проекти
              a.ui-title-links__item(href="#") Архів

      .row
        .col-md-4
          .b-filter.bg-gray
            .b-filter__card
              .b-filter__header Тип проекту
              .b-filter__body
                .custom-control.custom-checkbox
                  input.custom-control-input#status1(type="checkbox")
                  label.custom-control-label(for="status1") Всі
                .custom-control.custom-checkbox
                  input.custom-control-input#status2(type="checkbox")
                  label.custom-control-label(for="status2") Малий (до 500 000 грн)
                .custom-control.custom-checkbox
                  input.custom-control-input#status3(type="checkbox")
                  label.custom-control-label(for="status3") Великий (до 3 000 000 грн)

            .b-filter__card
              .b-filter__header Категорія проекту
              .b-filter__body
                .custom-control.custom-checkbox
                  input.custom-control-input#status4(type="checkbox")
                  label.custom-control-label(for="status4") Загального значення
                .custom-control.custom-checkbox
                  input.custom-control-input#status5(type="checkbox")
                  label.custom-control-label(for="status5") Пов’язані з житловим сектором
                .custom-control.custom-checkbox
                  input.custom-control-input#status6(type="checkbox")
                  label.custom-control-label(for="status6") Пов’язані з комунальними закладами

            .b-filter__card
              .b-filter__header Галузь проекту
              .b-filter__body
                .custom-control.custom-checkbox
                  input.custom-control-input#status7(type="checkbox")
                  label.custom-control-label(for="status7") Всі
                .custom-control.custom-checkbox
                  input.custom-control-input#status8(type="checkbox")
                  label.custom-control-label(for="status8") Велоінфраструктура
                .custom-control.custom-checkbox
                  input.custom-control-input#status9(type="checkbox")
                  label.custom-control-label(for="status9") Безпека та порядок
                .custom-control.custom-checkbox
                  input.custom-control-input#status10(type="checkbox")
                  label.custom-control-label(for="status10") Телекомунікації, ІТ та зв'язок
                .custom-control.custom-checkbox
                  input.custom-control-input#status11(type="checkbox")
                  label.custom-control-label(for="status11") Охорона здоров'я
                .custom-control.custom-checkbox
                  input.custom-control-input#status12(type="checkbox")
                  label.custom-control-label(for="status12") Соціальний захист
                .custom-control.custom-checkbox
                  input.custom-control-input#status13(type="checkbox")
                  label.custom-control-label(for="status13") Спорт
                .custom-control.custom-checkbox
                  input.custom-control-input#status14(type="checkbox")
                  label.custom-control-label(for="status14") Освіта
                .custom-control.custom-checkbox
                  input.custom-control-input#status15(type="checkbox")
                  label.custom-control-label(for="status15") Інше

            .b-filter__card
              .b-filter__header Бюджет
              .b-filter__body
                .b-filter__slider.js-slider-value(data-step="10000" data-min="0" data-max="3000000" data-default='[500000, 2500000]' data-postfix=" грн")

            .b-filter__card
              .b-filter__header Кількість голосів
              .b-filter__body
                .b-filter__slider.js-slider-value(data-step="10" data-min="0" data-max="5000" data-default='[1000, 4000]' data-postfix="")

            .b-filter__card.mt-5
              button.btn-link.mb-2(type="button") Обрати всі
              .w-100
              button.btn-link(type="button") Очистити фільтри



        .col-md-8
          .tab-content#mapTabContent2
            .tab-pane.fade#map2(role="tabpanel" aria-labelledby="map2-tab")
              .b-map__main
                .map-main#map-main

            .tab-pane.fade.show.active#projects2(role="tabpanel" aria-labelledby="projects2-tab")
              .b-project-group.row
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Освіта')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Інше')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Спорт')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Спорт')
                .col-xl-6
                  +b-post('352x176/1', 'Облаштування зон відпочинку для людей похилого віку у нашому місті', 'Соціальний захист')




  // end .b-map
  |
  |
