.map-main {
  height: 100%;
}

.b-map {
  padding-bottom: 28px;
  &__main {
    position: relative;
    height: 100%;
  }
  .tab-content,
  .tab-pane {
    height: 100%;
  }

  @include media-breakpoint-down(sm) {
    &__main {
      height: 400px;
    }
    &__select,
    &__wrap-select {
      width: 100%;
    }
    &__top-filter {
      border-top: none;
      margin-top: 5px;
    }
  }
}

.b-map-nav {
  justify-content: flex-end;
  margin-bottom: 35px;
  &__item {
    &:not(:first-child) {
      margin-left: 15px;
    }
    &:first-child {
      .b-map-nav__link {
        .ic {
          margin-left: 20px;
        }
      }
    }
    &:last-child {
      .b-map-nav__link {
        .ic {
          margin-right: 20px;
        }
      }
    }
  }

  &__link {
    &.active,
    &:hover {
      color: #848e99;
      text-decoration: none;
    }
    &.active {
      cursor: default;
    }
  }
}

.b-map-settings {
  text-align: right;
  &__item {
    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    margin-top: 15px;
  }
}


.b-map-bubble {
  color: #848e99;
  width: 365px;
  padding: 12px;
  display: block;
  &__title {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__info {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  &:hover {
    text-decoration: none;
    color: #848e99;
    opacity: 0.5;
  }
}
