mixin footer()
  footer.footer
    .container
      .row
        .col-md-5
          .footer-main
            .footer-logo
              span.footer-logo__item
                a.footer-logo__link(href="#")
                  img.img-fluid(src="assets/media/general/logo-emblem-2.png", alt="Герб")
              span.footer-logo__item
                a.footer-logo__link(href="#")
                  img.img-fluid(src="assets/media/general/logo-region.svg", alt="Герб")

            .footer__title Громадський бюджет
              span.footer__title-sm м. Запоріжжя
            a.footer__btn.btn.btn-white(href="#") Зворотній зв'язок

        .col-md-7
          .row
            .col
              .footer-section
                .footer-section__title Меню
                ul.footer-list.list-unstyled
                  li.footer-list__item
                    a.footer-list__link(href="#") Про проект
                  li.footer-list__item
                    a.footer-list__link(href="#") Інструкції
                  li.footer-list__item
                    a.footer-list__link(href="#") Нормативно-правова база
                  li.footer-list__item
                    a.footer-list__link(href="#") Повідомити про технічни негаразди або пропозиції
                  li.footer-list__item
                    a.footer-list__link(href="#") Сервіси
            .col-lg-auto.col
              .footer-section.d-none.d-md-block
                .footer-section__title Меню
                ul.footer-list.list-unstyled
                  li.footer-list__item
                    a.footer-list__link(href="#") Про проект
                  li.footer-list__item
                    a.footer-list__link(href="#") Інструкції
                  li.footer-list__item
                    a.footer-list__link(href="#") Нормативно-правова база
                  li.footer-list__item
                    a.footer-list__link(href="#") Повідомити про технічни негаразди або пропозиції
                  li.footer-list__item
                    a.footer-list__link(href="#") Сервіси


      .footer-bottom
        .row.align-items-center
          .col-md-4
            .footer-devel
              a.footer-devel__img(href="https://bissoft.org/" target="_blank")
                img(src="assets/media/general/logo-bisoft.png", alt="«БІС-СОФТ»")
              a.footer-devel__text(href="https://bissoft.org/" target="_blank") Компанія «БІС-СОФТ»<br>Всі права захищені.

          .col-md
            .footer-copyright
              != pugHelpers.Icon.call(locals, {iconName: 'creative-commons', className: 'ic', iconWidth: '30', iconHeight: '30'})
              .footer-copyright__info Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня

          .col-md-auto
            +b-soc-link()
