.b-modal-alerts {
  border-radius: 6px;
  padding: 25px 35px 70px;
  color: #f4f7fb;
  fill:  #f4f7fb;
  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.4px;
    margin-bottom: 70px;
  }
  &__info {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    text-align: center;
  }
  .close {
    position: absolute;
    top: -35px;
    right: 0;
    font-size: 38px;
    font-weight: normal;
    color: #eef5ff;
    opacity: 1;
    text-shadow: none;
  }
  .ic {
    display: inline-block;
  }


  &.bg-warning,
  &.bg-blue {
    color: $color-main;
    fill: $color-main;
  }

}
