mixin b-search()

  form.b-search.row(class!=attributes.class)
    .b-search__inner.col-md
      input.b-search__input(type="search" placeholder="Пошук проектів")
      button.b-search__btn.btn.btn-primary Пошук
  // end .b-search
  |
  |

