.b-search {
  padding: 1.5rem 10px;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
  &__inner {
    padding-right: 90px;
    position: relative;
  }
  &__input {
    width: 100%;
    height: 100%;
    color: #848e99;
    padding-right: 30px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    &[type="search"] {
      box-sizing: border-box;
    }

    @include placeholder {
      color: #848e99;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    padding-left: 34px;
    padding-right: 34px;
  }
  &__info {
    color: #848e99;
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    line-height: 2rem;
  }

  @include media-breakpoint-down(md) {
    background-color: transparent;
    box-shadow: none;
    &__inner {
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
    }
    &__input {
      height: 60px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      background-color: #ffffff;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    &__btn {
      position: relative;
      top: 0;
      display: block;
      width: 100%;
      margin-top: 20px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
