.b-idea {
  border-radius: 4px;
  margin-top: 30px;
  padding: 30px 25px 30px 35px;
  background: #dde1e6 url(../media/content/b-idea/bg-figure.png) no-repeat 85% 0;
  &__info {}
  .btn {
    width: 250px;
  }

  @include media-breakpoint-down(sm) {
    .btn {
      width: 100%;
    }
  }
}

.b-idea-donate {
  margin-right: -22px;
  & &__item {
    padding-right: 22px;
  }
  &__link {
    width: 100%;
    border-radius: 4px;
    color: #234161;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    margin-right: 22px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    &:not(.b-idea-donate__link_no-bg) {
      background-color: #f4f7fb;
    }
    &:hover {
      transition: all .3s;
      opacity: 0.5;
    }
  }

  &__link {
    &_dark {
      color: #f4f7fb;
    }
  }
}
