mixin b-idea(img, title, category)

  .container
    section.b-idea
      .row
        .col-xl-7
          h2.ui-title Маєте ідею, як зробити місто гарніше,<br>комфортніше та зручніше?
          .b-idea__info Дізнайтеся, як втілити свою ідею створивши проект і зібрати на нього необхідну суму для реалізації.
          a.btn.btn-primary.mt-5(href="#") Детальніше
        .col-xl-4.offset-xl-1.mt-5.mt-xl-0
          .ui-title Або підтримайте ідею:
          .b-idea-donate.row.no-gutters
            .b-idea-donate__item.col-6.col-sm-4
              button.b-idea-donate__link(type="button") 50 грн
            .b-idea-donate__item.col-6.col-sm-4
              button.b-idea-donate__link(type="button") 100 грн
            .b-idea-donate__item.col-6.col-sm-4
              button.b-idea-donate__link(type="button") 200 грн
            .b-idea-donate__item.col-6.col-sm-4
              button.b-idea-donate__link(type="button") 500 грн
            .b-idea-donate__item.col-6.col-sm-4
              button.b-idea-donate__link(type="button") 1 000 грн
            .b-idea-donate__item.col-6.col-sm-4
              button.b-idea-donate__link.b-idea-donate__link_no-bg(type="button") інше
          .b-idea__info Зробіть свій маленький внесок у велике майбутнє нашої громади


  // end .b-idea
  |
  |

