include ../navig/navig
include ../b-accessibility/b-accessibility
include ../b-welcome/b-welcome
include ../b-test-info/b-test-info

mixin header(headerMain, breadcrumb, lastLink, login, testInfo)

  .header-top-group(class!=attributes.class)
    header.header
      .header-top
        .container-fluid
          .row
            .col-12
              .header__gov.d-none.d-md-inline-block
                a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                  .icon-flag
                    .yellow
                    .blue
                  .wrap-text
                    span.one gov.ua
                    span.light Державні сайти України
              .header-logo.d-lg-none
                span.header-logo__item
                  a.header-logo__link(href="#")
                    img.ic(src="assets/media/general/logo-region.svg", alt="Герб")

              +b-soc-link(class="d-none d-lg-block")

              .header-top__title-mobile Громадський бюджет

              .header-user.dropdown.d-none.d-lg-block
                a.header-user__link.dropdown-toggle#dropdownUser(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | Рева О. О.


                .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                  .header-user__content
                    .header-user__img
                      img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                    .header-user__inner
                      .header-user__title Рева
                        span.header-user__subtitle Олександр Олександрович
                      a.header-user__btn.btn.btn-default(href="#") Повідомлення
                      a.header-user__btn.btn.btn-default(href="#") Мої звернення
                      a.header-user__btn.btn.btn-default(href="#") Редагувати профіль
                      a.header-user__btn.btn.btn-default(href="#") Вихiд
                // end .header-user
                |
                |


              button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію")
                != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'ic', iconWidth: '30', iconHeight: '30'})

              a.header__accessibility(data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false")
                != pugHelpers.Icon.call(locals, {iconName: 'hide', className: 'ic', iconWidth: '36', iconHeight: '36'})

      // end .header-top
      |
      |

      +b-accessibility()
      |
      |


      .header-main
        if testInfo
          +b-test-info()


        .container
          nav.header-nav.navbar.navbar-expand-lg
            .collapse.navbar-collapse.row.justify-content-between.align-items-baseline#navbarSupportedContent
              .col-lg
                .row.align-items-center
                  .header__gov.d-md-none
                    a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                      .icon-flag
                        .yellow
                        .blue
                      .wrap-text
                        span.one gov.ua
                        span.light Державні сайти України
                  .header-logo.header-logo_nav.col-lg-auto
                    span.header-logo__item
                      a.header-logo__link(href="#")
                        img.ic(src="assets/media/general/logo-emblem.svg", alt="Тризуб")
                    span.header-logo__item
                      a.header-logo__link(href="#")
                        img.ic(src="assets/media/general/logo-region.svg", alt="Герб")
                  .col-lg
                    .header-title
                      .header-title__wrap
                        .header-title__main Громадський бюджет
                        .header-title__subtitle Запорізька міська рада

              .col-lg-auto
                +navig()

              .col-12.d-lg-none
                .header-user.dropdown
                  a.header-user__link.dropdown-toggle(data-toggle="dropdown" href="#dropdownUserMob" aria-haspopup="true" aria-expanded="false")
                    != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                    | Рева О. О.
                  .header-user__body.dropdown-menu.dropdown-menu-right
                    .header-user__content
                      .header-user__img
                        img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                      .header-user__inner
                        .header-user__title Рева
                          span.header-user__subtitle Олександр Олександрович
                        a.header-user__btn.btn.btn-default(href="#") Повідомлення
                        a.header-user__btn.btn.btn-default(href="#") Мої звернення
                        a.header-user__btn.btn.btn-default(href="#") Редагувати профіль
                        a.header-user__btn.btn.btn-default(href="#") Вихiд

                +b-soc-link()

              button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


    // end .header
    |
    |



    if headerMain
      .container
        .row.align-items-center
          .col-lg-4
            .header-slogan Громадський
              span.header-slogan_sm бюджет
          .col-lg-8
            +b-search()

        .row.header-info
          .header-info__item.col-lg-4
            .header-info__title Як працює портал
            .header-info__desrip Дізнайся, як приймати участь у формуванні своєї громади.
            a.header-info__play.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")
              i.ic
              | Подивитись відео

          .header-info__item.col-lg-4
            .header-slider.js-slick(data-slick='{"infinite:": true, "arrows": false, "autoplay": true, "dots": true}')
              .header-slider__item
                .header-slider__number 2 843
                .header-info__desrip Кількість поданих проектів на розгляд
              .header-slider__item
                .header-slider__number 2 843
                .header-info__desrip Кількість поданих проектів на розгляд
              .header-slider__item
                .header-slider__number 2 843
                .header-info__desrip Кількість поданих проектів на розгляд

          .header-info__item.col-lg-4
            .header-info__title Створити проект
            .header-info__desrip Ви можете самостійно створити проект, що цікавить саме вас
            a.header-info__btn.btn.btn-default.mr-5(href="#")
              != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic', iconWidth: '24', iconHeight: '24'})
              | Додати проект
            a.header-info__btn-link.btn-link(href="#") Мої проекти

        // end .header-info

        +b-welcome()



  if breadcrumb

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Головна
          li.breadcrumb-item.active(aria-current="page")= lastLink

  // end .header-top-group

