.header-top-group {
  background: url("../media/content/header/bg-1.jpg") 50% 0 no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 30px;
  color: #f4f7fb;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle 1012px at 38.02% -39.66%, rgba(255, 255, 255, 0.11) 0%, rgba(0, 0, 0, 0.35) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  > .container {
    position: relative;
    z-index: 1;
  }

  .b-search {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
    margin-top: 85px;
  }
}


.header {
  z-index: 10;
  position: relative;
  &__gov {
    float: left;
  }
  .soc-link {
    float: left;
    padding-left: 20px;
    padding-top: 6px;
    &__item {
      line-height: 1;
      vertical-align: middle;
    }
    svg.ic {
      fill: #f4f7fb;
      width: 40px;
      height: 40px;
    }
    &__link {
      color: #f4f7fb;
    }
  }
  &__accessibility {
    float: right;
    margin-left: 30px;
    .ic {
      fill: #dde1e6;
    }
  }

  &_inner-page {
    background: none;
    padding-bottom: 0;
    color: $color-main;
    .header-nav {
      padding-top: 8px;
    }
    .header-main {
      border-bottom-color: rgba(0, 0, 0, 0.4);
    }
    .main-menu {
      &__item.active,
      &__item:hover {
        border-bottom-color: $color-main;
      }
      &__link {
        color: $color-main;
      }
      .ic-submenu {
        background-color: $color-main;
        box-shadow: 8px 0 0 0 $color-main, -8px 0 0 0 $color-main;
      }
    }

    &:after {
      content: none;
    }

    @include media-breakpoint-down(md) {
      color: #F4F7FB;
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      .header-main {
        border-bottom: none;
      }
      .header-nav {
        padding-top: 0;
      }
      .main-menu__link {
        color: #F4F7FB;
      }
    }
  }

  .navbar-toggler {
    float: right;
  }

  @include media-breakpoint-down(md) {
    &__gov {
      margin-right: 20px;
    }
    .gov-logo-dark .wrap-text .one {
      color: #337AB7;
    }
    .soc-link {
      padding-left: 0;
      text-align: center;
      float: none;
      margin-bottom: 15px;
      &__link {
        .ic {
          color: #c7ccd1;
        }
      }
    }

    &_inner-page {
      .header-main {
        padding-bottom: 0;
      }
    }
  }
}

.header-nav {
  padding: 15px 0 0;

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-top {
  padding: 8px 0 8px;
  background-color: #234161;
  position: relative;
  z-index: 10;
  a {
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  &__title-mobile {
    display: none;
  }

  @include media-breakpoint-down(md) {
    background-color: #FFF;

    &__title-mobile {
      display: block;
      float: left;
      margin-left: 10px;
      margin-top: 6px;
      font-size: 17px;
      font-weight: 600;
      color: #3B4256;
    }
  }
  @include media-breakpoint-down(sm) {
    &__title-mobile {
      width: 90px;
      margin-top: 0;
      font-size: 14px;
    }
  }
}


.header-user {
  float: right;
  position: relative;
  margin-left: 30px;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    font-weight: 600;
    font-size: .875rem;
    padding-bottom: 10px;
    &:hover {
      color: #dde1e6;
    }
    .ic {
      fill: #f5f7fa;
    }
  }
  &__body {
    box-shadow: 0 2px 4px rgba(0, 7, 123, 0.04), 0 8px 20px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 15px 12px 15px 16px;
  }
  &__content {
    @include cl;
  }
  &__img {
    position: relative;
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    .ic {
      opacity: 0.7;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #FFF;
    }
  }
  &__inner {
    padding-left: 160px;
  }
  &__title {
    border-bottom: solid 3px #DDE1E6;
    color: #3b4256;
    font-weight: 600;
    line-height: 1.444;
    border-bottom: 3px solid #dde1e6;
    padding-bottom: 14px;
    padding-right: 15px;
  }
  &__subtitle {
    white-space: nowrap;
    display: block;
  }
  &__btn {
    display: block;
    margin-top: 10px;
    text-align: left;
  }
  &__links-item {
    &:not(:last-child) {
      border-bottom: 1px solid #dde1e6;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  &__links-nav {
    font-size: 1.125rem;
    font-weight: 600;
    color: $color-main;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin: 20px 0;
    text-align: center;
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 160px);
      width: 320px;
    }
    &__subtitle {
      white-space: normal;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__inner {
      padding-left: 120px;
    }
  }
}

.header-main {
  position: relative;
  padding-top: 26px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  &__inner {
    border-bottom: 1px solid rgba(0,0,0,.4);
  }
  .navbar-collapse {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .navbar-collapse {
      padding-top: 20px;
      &.show {
        min-height: 100vh;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 10px;
      top: 10px;
      fill: #d4d5d7;
    }
    &__inner {
      border-bottom: none;
    }
  }
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  &__link {
    display: inline-block;
    max-width: 68px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 20px;
        margin-right: 10px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.header-logo_nav) {
      float: left;
    }
    &:not(.header-logo_nav) & {
      float: left;
      &__item {
        &:nth-child(2) {
          &:before {
            height: 32px;
            vertical-align: middle;
          }
        }
      }
      &__link {
        height: 40px;
        img {
          max-height: 100%;
        }
      }
    }

    &_nav {
      display: block;
      text-align: center;
      padding-top: 30px;
    }
  }
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  font-size: .875rem;
  line-height: 1.4285;
  position: relative;
  padding-left: 0;
  &__main {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }
  &__subtitle {
    margin-bottom: 5px;
  }

  @include media-breakpoint-only(lg) {
    &__subtitle {
      padding-right: 0;
    }
  }

  @include media-breakpoint-down(md) {
    &_in-nav {
      display: block;
      text-align: center;
      position: relative;
      margin-top: 20px;
      &:after {
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #08183b 100%);
        height: 1px;
        content: '';
        display: block;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 4px;
      }
    }
    &_in-nav & {
      &__main {
        display: block;
      }
      &__main,
      &__subtitle {
        color: $color-main !important;
      }
      &__wrap {
        text-align: left;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.header-info {
  margin-top: 55px;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3334;
    margin-bottom: 12px;
  }
  &__desrip {
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &__btn {
    width: 200px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    .ic {
      float: right;
    }
  }
  &__btn-link {
    color: #f4f7fb;
    border-bottom-color: #f4f7fb;
    font-size: 1rem;
    padding-bottom: 3px;
  }
  &__play {
    font-weight: 600;
    color: #f4f7fb;
    .ic {
      margin-right: 16px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      &:after {
        position: absolute;
        left: 19px;
        top: 14px;
        content: '';
        border-style: solid;
        border-width: 8px 12px;
        border-color: transparent transparent transparent #FFF ;
      }
    }
    &:hover {
      opacity: 0.5;
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  @include media-breakpoint-down(lg) {
    &__btn {
      display: block;
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 22px;
    &__item {
      margin-bottom: 35px;
    }
    .slick-dots {
      text-align: left;
    }
  }
}



.header-slider {
  position: relative;
  &__item {
    padding-right: 15px;
  }
  &__number {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }
}

.header-welcome {
  margin-top: 75px;
  @include cl;
  &__main {
    padding-left: 280px;
  }
  &__second {
    float: left;
    width: 280px;
  }
  &__img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px auto 6px;
  }
  &__name {
    color: #ffffff;
    text-align: center;
    margin-bottom: 9px;
  }
  &__title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3333;
    margin-bottom: 12px;
  }
  &__info {
    color: #ffffff;
    font-size: .875rem;
    line-height: 1.714;
  }

  @include media-breakpoint-only(lg) {
    margin-top: 50px;
    &__second {
      width: 160px;
    }
    &__main {
      padding-left: 220px;
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.header-slogan {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -0.69px;
  padding-top: 65px;
  line-height: 1.25;
  &_sm {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    display: block;
  }
}
