html:not([data-fontsize="normal"]) {
  .b-login {
    max-width: 100%;
  }
  .ui-input__label-content {
    line-height: 1;
  }
  .ui-input {
    padding-bottom: 100px;
  }
  .navbar-nav {
    display: block;
  }
  .main-menu__item {
    display: inline-block;
    vertical-align: top;
  }
  .header-info__btn-link {
    display: block;
  }
  .header-info__btn {
    width: 100%;
    margin-bottom: 30px;
  }
  .b-main-scale {
    text-align: left;
  }
  .b-main-scale__item {
    width: 100%;
    text-align: left;
  }
  .b-main-scale__title {
    height: auto;
  }
  .b-main-scale__item:after {
    content: none;
  }
  .main-menu .dropdown-menu .dropdown-menu {
    position: relative;
    right: 0;
    left: 70px;
  }
}

html[data-fontsize="big"] {
  font-size: 1.5rem;
}

html[data-fontsize="large"] {
  font-size: 2rem;
}




html[data-color="white"] {
  body,
  .header-top-group,
  .header .soc-link__link,
  .gov-logo-dark .wrap-text .one,
  .header__regions-trigger,
  .ui-meta,
  .footer__title,
  .footer,
  .footer .soc-link__link,
  .btns-switch__item.active,
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
  .breadcrumb-item.active,
  .ui-upload__label,
  .ui-input__label-content,
  .b-login__note,
  .close,
  .b-filter__header,
  .b-post__meta-title,
  .text-red,
  .text-green,
  .b-bnr__info,
  .pagination .active a,
  .pagination a:hover,
  .main-menu__descrip,
  .pagination .active a,
  .pagination a:hover,
  .b-search__input,
  .b-search__info,
  .text-red-2,
  .b-form-project__label,
  .b-post-descrip__title,
  .ui-table thead th,
  .ui-table tbody td,
  .b-post-progress,
  .b-idea-donate__link_no-bg,
  .b-form-project-table thead th {
    color: #555 !important;
  }

  .form-control,
  .b-search__input {
    @include placeholder {
      color: #555;
    }
  }

  .btn {
    color: #FFF !important;
  }



  .footer,
  .header:not(.header_inner-page),
  .ui-accordion__link[aria-expanded="false"],
  .custom-checkbox .custom-control-label::before,
  .noUi-tooltip,
  .bg-light-2,
  .bg-light,
  .datepicker,
  .form-control,
  .map-bubble,
  .bg-gray,
  .b-bnr,
  .main-menu .dropdown-menu,
  .pagination .active a,
  .pagination a:hover,
  .table-hover tbody tr:hover,
  .b-idea {
    background-color: #f5f5f5 !important;
  }

  .slick-dots li button:hover:after,
  .slick-dots li button:focus:after,
  .slick-dots .slick-active button:after,
  .bg-primary, .btn-primary, .ui-slider_dots_sm .slick-active button, .ui-accordion__link[aria-expanded="false"] .ic, .noUi-connect, .noUi-handle, .noUi-handle:before, .custom-control-input:checked ~ .custom-control-label:before,
  .ui-accordion__link .ic,
  .slick-dots li button,
  .btn {
    background-color: #555 !important;
  }

  .page-inner,
  .datepicker table tr td.highlighted,
  .datepicker table tr td.today,
  .header-top,
  .slick-dots li button:after,
  .ui-accordion__link .ic:before, .ui-accordion__link .ic:after {
    background-color: #fff;
  }

  .datepicker-dropdown:after {
    border-bottom-color: #f5f5f5;
  }

  .custom-control-label::before {
    border-color: #555;
  }
  .pagination li.active a, .pagination li.active span, .main-menu__item.active, .main-menu__item:hover {
    border-bottom-color: #555;
  }


  svg {
    fill: #555 !important;
  }
  .alert svg {
    fill: #fff !important;
  }


  a {
    color: #222;
    border-color: #0000ff;
  }
}



html[data-color="black"] {
  body,
  a,
  .header-top-group,
  .header .soc-link__link,
  .gov-logo-dark .wrap-text .one,
  .header:not(.header_inner-page) .header-title__subtitle,
  .header-slogan__title,
  .b-welcome__categorie,
  .text-red,
  .text-orange,
  .ui-meta,
  .footer__title,
  .footer,
  .footer .soc-link__link,
  .header-slogan,
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
  .breadcrumb-item.active,
  .ui-upload__label,
  .ui-input__label-content,
  .b-login__note,
  .ui-title,
  .btn-link,
  .ui-accordion__link,
  .custom-control-label,
  .noUi-tooltip,
  .header_inner-page .main-menu__link,
  .ui-title-page,
  .header-user__title,
  .btns-switch__item,
  .ui-upload__info,
  .form-control,
  .close,
  .b-filter__header,
  .b-post__meta-title,
  .text-red,
  .text-green,
  .b-bnr__info,
  .b-info__data,
  .footer-section__title,
  .pagination .active a,
  .pagination a:hover,
  .main-menu__descrip,
  .b-search__input,
  .b-search__info,
  .b-form-project__label,
  .ui-select.btn,
  .b-post-descrip__title,
  .ui-table thead th,
  .ui-table tbody td,
  .b-post-progress,
  .b-idea-donate__link_no-bg,
  .b-form-project-table thead th,
  .b-idea-donate__link {
    color: #ccc !important;
  }

  .btns-switch__item.active,
  .ui-title-links__item.active, .ui-title-links__item:hover,
  .text-red-2 {
    color: #FFF !important;
  }

  .pagination a,
  .btn,
  .comments-list .comment-label,
  .wcag-panel__default-link,
  .b-main-scale__title,
  .b-main-scale__info {
    color: #1d1d1d !important;
  }


  .b-search__input {
    @include placeholder {
      color: #ccc;
    }
  }

  .form-control {
    @include placeholder {
      color: #1d1d1d;
    }
  }

  .pagination a .ic,
  .btn .ic,
  .alert svg,
  .b-main-scale .ic {
    fill: #1d1d1d !important;
  }

  svg {
    fill: #ccc !important;
  }


  body,
  .footer,
  .header:not(.header_inner-page),
  .ui-accordion__link[aria-expanded="false"],
  .custom-checkbox .custom-control-label::before,
  .noUi-tooltip,
  .bg-light-2,
  .bg-light,
  .bg-gray,
  .b-bnr,
  .b-main-scale__progress .progress-bar,
  .b-main-scale__item:after,
  .b-map-bubble {
    background-color: #1d1d1d !important;
  }

  .slick-dots li button:hover:after,
  .slick-dots li button:focus:after,
  .slick-dots .slick-active button:after,
  .bg-primary, .ui-slider_dots_sm .slick-active button, .ui-accordion__link[aria-expanded="false"] .ic, .noUi-connect, .noUi-handle, .noUi-handle:before,
  .ui-accordion__link .ic,
  .btn,
  .comments-list .comment-label,
  .slick-dots li button,
  .pagination a,
  .b-idea-donate__link {
    background-color: #ccc !important;
  }

  .datepicker table tr td.highlighted,
  .header-top,
  .ui-accordion__link .ic:before, .ui-accordion__link .ic:after,
  .ui-accordion__body,
  .ui-accordion__link,
  .header-user__body,
  .form-control,
  .custom-control-input:checked ~ .custom-control-label:before,
  .header-top-group .b-search,
  .b-info,
  .b-post,
  .pagination .active a,
  .pagination a:hover,
  .main-menu .dropdown-menu,
  .bootstrap-select > .dropdown-toggle.bs-placeholder,
  .b-search,
  .bootstrap-select .dropdown-menu,
  .table-hover tbody tr:hover,
  .progress,
  .b-idea-donate__link,
  .b-idea {
    background-color: #000 !important;
  }

  .datepicker,
  .map-bubble,
  .slick-dots li button:after {
    background-color: #f5f5f5;
  }

  .datepicker table tr td.today {
    background-color: #fff;
  }


  a,
  .custom-control-label::before {
    border-color: #555;
  }
  .btn,
  .comments-list .comment-label,
  .b-main-scale__progress {
    border-color: #1d1d1d;
  }
  .datepicker-dropdown:after {
    border-bottom-color: #f5f5f5;
  }
  .pagination li.active a, .pagination li.active span, .main-menu__item.active, .main-menu__item:hover {
    border-bottom-color: #ccc;
  }
  .footer {
    border-top: 1px solid #ccc;
  }
}



html[data-color="blue"] {

  body,
  a,
  .header-top-group,
  .header .soc-link__link,
  .gov-logo-dark .wrap-text .one,
  .header:not(.header_inner-page) .header-title__subtitle,
  .header-slogan__title,
  .b-welcome__categorie,
  .text-red,
  .text-orange,
  .ui-meta,
  .footer__title,
  .footer,
  .footer .soc-link__link,
  .header-slogan,
  .header:not(.header_inner-page) .header-title__main,
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
  .breadcrumb-item.active,
  .ui-upload__label,
  .ui-input__label-content,
  .b-login__note,
  .ui-title,
  .btn-link,
  .ui-accordion__link,
  .custom-control-label,
  .ui-title-page,
  .header-user__title,
  .btns-switch__item,
  .ui-upload__info,
  .form-control,
  .ui-nav-default .nav-link,
  .close,
  .b-filter__header,
  .b-post__meta-title,
  .text-red,
  .text-green,
  .b-bnr__info,
  .b-info__data,
  .b-post__title,
  .b-post__category,
  .footer-section__title,
  .pagination .active a,
  .pagination a:hover,
  .main-menu__descrip,
  .pagination .active a,
  .pagination a:hover,
  .b-search__input,
  .b-search__info,
  .text-red-2,
  .b-form-project__label,
  .b-post-descrip__title,
  .ui-table thead th,
  .ui-table tbody td,
  .b-post-progress,
  .b-idea-donate__link_no-bg,
  .b-form-project-table thead th {
    color: #cc0 !important;
  }

  .form-control,
  .b-search__input {
    @include placeholder {
      color: #cc0;
    }
  }

  .pagination a,
  .noUi-tooltip,
  .bootstrap-select > .dropdown-toggle.bs-placeholder,
  .btn,
  .comments-list .comment-label,
  .b-main-scale__title,
  .b-main-scale__info,
  .b-idea-donate__link {
    color: #06066b !important;
  }

  .btns-switch__item.active,
  .ui-nav-default .nav-link.active,
  .ui-title-links__item.active {
    color: #FFF !important;
  }

  // .b-map-category__number {
  //   color: #000 !important;
  // }

  .pagination a, .ic
  .noUi-tooltip .ic,
  .alert svg,
  .btn .ic,
  .pagination a .ic {
    fill: #06066b !important;
  }

  svg {
    fill: #cc0 !important;
  }

  body,
  .footer,
  .header:not(.header_inner-page),
  .ui-accordion__link[aria-expanded="false"],
  .custom-checkbox .custom-control-label::before,
  .bg-light-2,
  .bg-light,
  .bg-gray,
  .b-bnr,
  .b-main-scale__progress .progress-bar,
  .b-main-scale__item:after {
    background-color: #06066b !important;
  }

  .slick-dots li button:hover:after,
  .slick-dots li button:focus:after,
  .slick-dots .slick-active button:after,
  .bg-primary, .btn-primary, .ui-slider_dots_sm .slick-active button, .ui-accordion__link[aria-expanded="false"] .ic, .noUi-connect, .noUi-handle, .noUi-handle:before,
  .ui-accordion__link .ic,
  .noUi-tooltip,
  .btn,
  .comments-list .comment-label,
  .b-idea-donate__link {
    background-color: #cc0 !important;
  }

  .datepicker table tr td.highlighted,
  .header-top,
  .ui-accordion__link .ic:before, .ui-accordion__link .ic:after,
  .ui-accordion__body,
  .ui-accordion__link,
  .header-user__body,
  .form-control,
  .custom-control-input:checked ~ .custom-control-label::before,
  .b-search,
  .slick-dots li button,
  .b-map-bubble,
  .b-info,
  .b-post,
  .main-menu .dropdown-menu,
  .pagination .active a,
  .pagination a:hover,
  .bootstrap-select .dropdown-menu,
  .table-hover tbody tr:hover,
  .progress,
  .b-idea {
    background-color: #070742 !important;
  }

  .datepicker table tr td.today {
    background-color: #fff;
  }

  .datepicker,
  .map-bubble,
  .slick-dots li button:after {
    background-color: #f5f5f5;
  }

  a,
  .custom-control-label::before {
    border-color: #555;
  }

  .btn,
  .comments-list .comment-label,
  .b-main-scale__progress {
    border-color: #06066b;
  }

  .b-post__category {
    border-color: #CC0;
  }

  .datepicker-dropdown:after {
    border-bottom-color: #f5f5f5;
  }
  .pagination li.active a, .pagination li.active span, .main-menu__item.active, .main-menu__item:hover {
    border-bottom-color: #cc0;
  }
  .footer {
    border-top: 1px solid #cc0;
  }
}


html:not([data-color="default"]) {
  .header:not(.header_inner-page),
  .datepicker table tr td.today,
  .b-welcome__info,
  .header-top-group,
  .b-bnr,
  .b-idea {
    background: none;
  }
  .custom-control-label .badge {
    opacity: 1;
  }
  .close {
    text-shadow: none;
    opacity: 1;
  }

  a {
    text-decoration: underline;
  }

  .wcag-panel__default-link {
    color: #000 !important;
  }

  img {
    filter: grayscale(100%);
  }

  .header:not(.header_inner-page):after,
  .header-top-group:after,
  .b-main-scale__ic {
    display: none;
  }
}



html[data-color="white"] a:focus,
html[data-color="white"] a:target,
html[data-color="white"] input:focus,
html[data-color="white"] input:target,
html[data-color="white"] select:focus,
html[data-color="white"] select:target,
html[data-color="white"] textarea:focus,
html[data-color="white"] textarea:target,
html[data-color="white"] button:focus,
html[data-color="white"] button:target,
html[data-color="white"] img:focus,
html[data-color="white"] img:target,
html[data-color="white"] [tabindex]:focus,
html[data-color="white"] [tabindex]:target {
  outline: 2px solid #0000ff !important;
}

html[data-color="black"] a:focus,
html[data-color="black"] a:target,
html[data-color="black"] input:focus,
html[data-color="black"] input:target,
html[data-color="black"] select:focus,
html[data-color="black"] select:target,
html[data-color="black"] textarea:focus,
html[data-color="black"] textarea:target,
html[data-color="black"] button:focus,
html[data-color="black"] button:target,
html[data-color="black"] img:focus,
html[data-color="black"] img:target,
html[data-color="black"] [tabindex]:focus,
html[data-color="black"] [tabindex]:target {
  outline: 2px solid #ccc !important;
}

html[data-color="blue"] a:focus,
html[data-color="blue"] a:target,
html[data-color="blue"] input:focus,
html[data-color="blue"] input:target,
html[data-color="blue"] select:focus,
html[data-color="blue"] select:target,
html[data-color="blue"] textarea:focus,
html[data-color="blue"] textarea:target,
html[data-color="blue"] button:focus,
html[data-color="blue"] button:target,
html[data-color="blue"] img:focus,
html[data-color="blue"] img:target,
html[data-color="blue"] [tabindex]:focus,
html[data-color="blue"] [tabindex]:target {
  outline: 2px solid #cc0 !important;
}

html[data-color="white"] a:focus,
html[data-color="white"] a:target,
html[data-color="white"] input:focus,
html[data-color="white"] input:target,
html[data-color="white"] select:focus,
html[data-color="white"] select:target,
html[data-color="white"] textarea:focus,
html[data-color="white"] textarea:target,
html[data-color="white"] button:focus,
html[data-color="white"] button:target,
html[data-color="white"] img:focus,
html[data-color="white"] img:target,
html[data-color="white"] [tabindex]:focus,
html[data-color="white"] [tabindex]:target {
  background-color: #fff02a !important;
}

html[data-color="black"] a:focus,
html[data-color="black"] a:target,
html[data-color="black"] input:focus,
html[data-color="black"] input:target,
html[data-color="black"] select:focus,
html[data-color="black"] select:target,
html[data-color="black"] textarea:focus,
html[data-color="black"] textarea:target,
html[data-color="black"] button:focus,
html[data-color="black"] button:target,
html[data-color="black"] img:focus,
html[data-color="black"] img:target,
html[data-color="black"] [tabindex]:focus,
html[data-color="black"] [tabindex]:target {
  background-color: #fff02a !important;
}

html[data-color="blue"] a:focus,
html[data-color="blue"] a:target,
html[data-color="blue"] input:focus,
html[data-color="blue"] input:target,
html[data-color="blue"] select:focus,
html[data-color="blue"] select:target,
html[data-color="blue"] textarea:focus,
html[data-color="blue"] textarea:target,
html[data-color="blue"] button:focus,
html[data-color="blue"] button:target,
html[data-color="blue"] img:focus,
html[data-color="blue"] img:target,
html[data-color="blue"] [tabindex]:focus,
html[data-color="blue"] [tabindex]:target {
  background-color: #fff02a !important;
}

html[data-color="white"] a:focus,
html[data-color="white"] a:target,
html[data-color="white"] input:focus,
html[data-color="white"] input:target,
html[data-color="white"] select:focus,
html[data-color="white"] select:target,
html[data-color="white"] textarea:focus,
html[data-color="white"] textarea:target,
html[data-color="white"] button:focus,
html[data-color="white"] button:target,
html[data-color="white"] img:focus,
html[data-color="white"] img:target,
html[data-color="white"] [tabindex]:focus,
html[data-color="white"] [tabindex]:target {
  color: #111 !important;
}

html[data-color="black"] a:focus,
html[data-color="black"] a:target,
html[data-color="black"] input:focus,
html[data-color="black"] input:target,
html[data-color="black"] select:focus,
html[data-color="black"] select:target,
html[data-color="black"] textarea:focus,
html[data-color="black"] textarea:target,
html[data-color="black"] button:focus,
html[data-color="black"] button:target,
html[data-color="black"] img:focus,
html[data-color="black"] img:target,
html[data-color="black"] [tabindex]:focus,
html[data-color="black"] [tabindex]:target {
  color: #111 !important;
}

html[data-color="blue"] a:focus,
html[data-color="blue"] a:target,
html[data-color="blue"] input:focus,
html[data-color="blue"] input:target,
html[data-color="blue"] select:focus,
html[data-color="blue"] select:target,
html[data-color="blue"] textarea:focus,
html[data-color="blue"] textarea:target,
html[data-color="blue"] button:focus,
html[data-color="blue"] button:target,
html[data-color="blue"] img:focus,
html[data-color="blue"] img:target,
html[data-color="blue"] [tabindex]:focus,
html[data-color="blue"] [tabindex]:target {
  color: #111 !important;
}


html:not([data-color="default"]) a:not([disabled]):not([aria-disabled="true"]):hover,
html:not([data-color="default"]) [tabindex]:not([tabindex="-1"]):hover,
html:not([data-color="default"]) button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #0000ff;
  text-decoration: none;
  cursor: pointer;
}


html[data-color="white"] a:not([disabled]):not([aria-disabled="true"]):hover,
html[data-color="white"] [tabindex]:not([tabindex="-1"]):hover,
html[data-color="white"] button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #0000ff;
}

html[data-color="black"] a:not([disabled]):not([aria-disabled="true"]):hover,
html[data-color="black"] [tabindex]:not([tabindex="-1"]):hover,
html[data-color="black"] button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #ccc;
}

html[data-color="blue"] a:not([disabled]):not([aria-disabled="true"]):hover,
html[data-color="blue"] [tabindex]:not([tabindex="-1"]):hover,
html[data-color="blue"] button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #cc0;
}


html[data-images="off"] img {
  visibility: hidden;
}
html[data-images="off"] .header-logo__link img,
html[data-images="off"] .footer-devel__img img,
html[data-images="off"] .footer-logo img {
  visibility: visible;
}

html[data-images="off"] *,
html[data-images="off"] *:before,
html[data-images="off"] *:after {
  background-image: none !important;
}


html[data-kerning="big"] * {
  letter-spacing: 0.1rem !important;
}

html[data-kerning="big"] select,
html[data-kerning="big"] input,
html[data-kerning="big"] button,
html[data-kerning="big"] textarea {
  letter-spacing: inherit !important;
}


[data-wcag="alternative-background"] {
  background-color: #f5f5f5;
}

html[data-color="white"] [data-wcag="alternative-background"] {
  background-color: #f5f5f5;
}

html[data-color="black"] [data-wcag="alternative-background"] {
  background-color: #000;
}

html[data-color="blue"] [data-wcag="alternative-background"] {
  background-color: #0c0c4e;
}

[aria-disabled="true"],
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

[data-role="collapse"] [hidden] {
  display: none;
}




html[data-color="white"] .alert {
  background-color: #555 !important;
}

html[data-color="black"] .alert {
  background-color: #fff !important;
}

html[data-color="blue"] .alert {
  background-color: #cc0 !important;
}

html[data-color="white"] .alert {
  color: #fff !important;
}

html[data-color="black"] .alert {
  color: #1d1d1d !important;
}

html[data-color="blue"] .alert {
  color: #06066b !important;
}





[role="tablist"] {
  margin: 0;
  padding: 0;
}

[role="tablist"] > [role="tab"] {
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  border-bottom: none;
}

[role="tablist"] > [role="tab"][aria-selected="true"] {
  padding-top: 13px;
  border-bottom: 1px solid;
  margin-bottom: -1px;
  border-bottom-color: #fff;
  background: #ffa !important;
  color: #bf1722 !important;
}

html[data-color="white"] [role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom-color: #fff;
}

html[data-color="black"] [role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom-color: #1d1d1d;
}

html[data-color="blue"] [role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom-color: #06066b;
}

[role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #f5f5f5 !important;
}

html[data-color="white"] [role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #f5f5f5 !important;
}

html[data-color="black"] [role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #000 !important;
}

html[data-color="blue"] [role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #0c0c4e !important;
}

// [role="tabpanel"] {
//   padding: 20px;
//   border: 1px solid;
// }

// [role="tabpanel"][aria-hidden="true"] {
//   display: none !important;
// }




.wcag-panel {
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid rgba(107, 107, 107, 0.5);
  background-color: #e8e8e8 !important;
  z-index: 999;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 50px;

  &__wrapper {
    margin: 0 auto;
    max-width: 980px;
    padding: 17px 0;
  }

  &__row {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__hidden-control {
    padding: 10px;
    a:not(:focus) {
      opacity: 0;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 11px;
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      margin-bottom: 10px;
    }
    &:first-child {
      padding-left: 11px;
    }

    &:last-child {
      padding-right: 11px;
    }
    &_cont-link {
      vertical-align: bottom;
      padding-bottom: 8px;
    }
  }


  &__settings {
    float: right;
    margin-top: 27px;
  }

  &__switcher {
    display: flex;
    border: 1px solid black !important;
    border-radius: 3px;
  }

  &__switcher-label {
    vertical-align: baseline;
    margin-bottom: 3px;
    display: block;
  }

  &__switcher-btn {
    padding: 0 10px;
    height: 38px;
    font-weight: normal;
    margin-bottom: 0;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 38px;
    border: 0;
    display: inline-block;
    user-select: none;
    position: relative;
    &:not(:last-child) {
      border-right: 1px solid black;
    }
    &:focus {
      background: #000 !important;
      color: #fff !important;
      box-shadow: inset 0 0 0 2px #ffa;
    }
  }


  &__dropdown-toggle {
    position: relative;
    padding: 0 27px 0 10px;
    height: 36px;
    line-height: 36px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -2px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-top: 5px solid black;
      border-right: 6px solid transparent;
    }
    &:focus:after {
      border-top-color: white;
    }
    &[aria-expanded="true"] {
      background: black;
      color: white;
      &:after {
        border-top: 0;
        border-bottom: 5px solid white;
      }
    }
  }


  &__dropdown {
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    text-align: left;
    list-style: none;
    background-color: #f3f3f3;
    background-clip: padding-box;
    border: 1px solid #ccc !important;
    outline: none !important;
    z-index: 1000;
  }

  &__flag-button {
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    user-select: none;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 7px;
    }
    &:focus {
      background: #000 !important;
      color: #fff !important;
      box-shadow: inset 0 0 0 2px #ffa;
    }
  }


  &__default-link {
    font-size: 18px;
    line-height: 20px;
    color: black !important;
    text-decoration: none !important;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-color: #0000FF !important;
  }

  &__default-link:focus {
    background: transparent !important;
    outline-color: #0000ff !important;
  }

  input[type="radio"],
  input[type="checkbox"] {

    position: absolute;
    left: -99999px;
  }

  input[type="radio"]:checked + &__switcher-btn,
  input[type="checkbox"]:checked + &__switcher-btn {
    color: white;
    background-color: black;
  }

  input[type="radio"]:focus + &__switcher-btn,
  input[type="checkbox"]:focus + &__switcher-btn {
    color: white;
    background: black;
    box-shadow: inset 0 0 0 2px #ffa;
    outline: 0;
  }


  .flag-button {
    position: relative;
    padding: 0 5px;
    height: 38px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000 !important;

    &:before,
    &:after {
      display: none;
      content: '';
      position: absolute;
      top: -3px;
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      background: #fe0d0d;
      border-radius: 50%;
    }

    &:after {
      bottom: -3px;
      top: auto;
    }

    &_white {
      background: #fff;
      color: #000;
    }

    &_black {
      color: #fff;
      background: #000;
    }

    &_blue {
      background: #0000ff;
      color: #ffff00;
    }
  }


  input:checked + .flag-button:before,
  input:checked + .flag-button:after {
    display: block;
  }

  input:focus + .flag-button {
    box-shadow: inset 0 0 0 2px #ffa;
    background: black;
    color: white;
  }

}


