/* Color First Primary */

.text-primary,
.list > li > a:hover,
.breadcrumb > li > a:hover
.btn-link:focus,
.b-map-nav__link,
a.ui-meta:hover {color: #2d5ca6 !important;}


.bg-primary,
.panel-default > .panel-heading,
.bootstrap-select .dropdown-menu li.active,
.btn-primary,
.noUi-connect,
.noUi-handle,
.noUi-handle:before,
.custom-control-input:checked ~ .custom-control-label::before,
.user-content ul li:before {background-color: #2d5ca6 !important;}


.btn-primary,
.ui-input__field:focus,
.ui-carousel__nav-item.slick-current {border-color: #2d5ca6 !important;}


 /* {border-left-color: #2d5ca6;} */

#page-preloader .spinner {
  border-color: #2d5ca6 #2d5ca6 #2d5ca6 transparent !important;
}


.fill-primary,
.ui-meta:hover .ic {
  fill: #2d5ca6 !important;
}

.pagination__icon:hover {
  stroke: #2d5ca6 !important;
}

.ic-primary {
  stroke: #2d5ca6 !important;
}


/* Color First Secondary */

/*  {
  color: #08183b;
} */

.footer {
  background-color: #08183B !important;
}

@media (max-width: 991.98px) {
  .header-main {
    background-color: #08183B;
  }
}
.ui-title-block:after {
  background-image: linear-gradient(to left, transparent 0%, #08183b 100%);
}

.ui-title-links__item.active,
.ui-title-links__item:hover {
  border-bottom-color: #08183b !important;
}

/* Second color */
