mixin b-bnr()

  .b-bnr
    .container
      .row.align-items-center
        .col-lg-5.col-md-6
          .b-bnr__info Підтримай розвиток своєї громади: від невеликих змін до масштабних проектів.
          a.btn.btn-primary.btn-lg(href="#") Підтримати проект
        .col-lg-4.offset-lg-3.col-md-6
          +b-info()(class="d-none d-sm-block")

  // end .b-bnr
  |
  |
