.b-bnr {
  background: url("../media/content/b-bnr/bg-1.jpg");
  background-size: cover;
  padding-top: 33px;
  padding-bottom: 33px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(78, 78, 78, 0.51) 55%, rgba(0, 0, 0, 0.74) 100%);
  }
  &__info {
    color: #f2f7fc;
    font-size: 2rem;
    letter-spacing: -0.025rem;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}
