.b-login {
  margin-top: 0;
  &__wrap {
    max-width: 320px;
    margin: 0 auto;
  }
  &__main {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__footer {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #e8e8e8;
  }
  &__info {
    color: #262626;
    margin-bottom: 30px;
  }
  &__link {
    color: #262626;
    font-size: 0.875rem;
    &:hover {
      opacity: 0.5;
    }
  }
  .custom-control-label {
    font-size: 0.875rem;
    font-weight: 400;
    vertical-align: baseline;
  }
  .custom-control {
    margin-bottom: 0;
  }

  &_main {
    margin-top: 10px;
    margin-bottom: 10px;
    .custom-control-label {
      color: #f4f7fb;
    }
    .b-login__link {
      color: #f4f7fb;
      font-size: 1rem;
      font-weight: 600;
    }
    .b-login__footer {
      border-top: none;
      padding-top: 0;
      .ic {
        fill: #f4f7fb;
      }
    }
  }
}

.b-login-nav {
  & &__item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  & &__link {
    color: #dde1e6;
    padding: 0 10px;
    &.active,
    &:hover {
      color: #f4f7fb;
    }
    &:focus {
      color: #f4f7fb;
    }
  }
}
