.b-test-info {
  position: absolute;
  width: 72px;
  height: 72px;
  left: -36px;
  top: -36px;
  overflow: hidden;
  background-color: #ff4e4e;
  transform: rotate(-45deg);
  transition: all ease 0.1s;
  z-index: 3;
  text-align: center;
  color: #FFF;
  transition: all .3s;
  &__msg {
    display: block;
    margin-top: 68%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    text-shadow: none
  }

  &:hover {
    width: 340px;
    height: 340px;
    left: -175px;
    top: -175px;
    text-decoration: none;
    color: #FFF;
  }

  &:hover & {
    &__msg {
      margin-top: 62%;
    }
  }
}
