mixin b-test-info()
  a.b-test-info(href="/uk/feedbacks/new")
    .b-test-info__msg
      .b-test-info__link ТЕСТ<br>Портал працює в тестовому режимі. Надайте свої пропозиції, як зробити його ще кращим.

  // end .test-info
