mixin b-main-scale()

  .b-main-scale.bg-primary
    .container
      .row.no-gutters
        .b-main-scale__item.active.col-md
          .b-main-scale__inner
            .b-main-scale__title Подача проектів
            .b-main-scale__ic
              != pugHelpers.Icon.call(locals, {iconName: 'ic-nav-1', className: 'ic', iconWidth: '78 ', iconHeight: '92'})
            .b-main-scale__info 1 квітня до 1 травня 2019 <br>До закінчення 21 день
        .b-main-scale__item.col-md
          .b-main-scale__inner
            .b-main-scale__title Розгляд<br>проектів
            .b-main-scale__ic
              != pugHelpers.Icon.call(locals, {iconName: 'ic-nav-2', className: 'ic', iconWidth: '65.5 ', iconHeight: '87.31'})
            .b-main-scale__info 1 квітня до 1 травня 2019 <br>До початку 121 день
        .b-main-scale__item.col-md
          .b-main-scale__inner
            .b-main-scale__title Голосування за<br>проекти
            .b-main-scale__ic
              != pugHelpers.Icon.call(locals, {iconName: 'ic-nav-3', className: 'ic', iconWidth: '73.22 ', iconHeight: '96.1'})
            .b-main-scale__info 1 квітня до 1 травня 2019 <br>До початку 121 день

        .b-main-scale__item.col-md
          .b-main-scale__inner
            .b-main-scale__title Визначення<br>переможців
            .b-main-scale__ic
              != pugHelpers.Icon.call(locals, {iconName: 'ic-nav-4', className: 'ic', iconWidth: '66.65 ', iconHeight: '97.48'})
            .b-main-scale__info 1 квітня до 1 травня 2019 <br>До початку 121 день

        .b-main-scale__item.col-md
          .b-main-scale__inner
            .b-main-scale__title Реалізація<br>проектів
            .b-main-scale__ic
              != pugHelpers.Icon.call(locals, {iconName: 'ic-nav-5', className: 'ic', iconWidth: '101.14 ', iconHeight: '95'})
            .b-main-scale__info  1 квітня до 1 травня 2019 <br>До початку 121 день

      .row.no-gutters
        .b-main-scale__item.col-md
          .b-main-scale__progress.progress
            .progress-bar(role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")

        .b-main-scale__item.col-md
          .b-main-scale__progress.progress
            .progress-bar(role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")

        .b-main-scale__item.col-md
          .b-main-scale__progress.progress
            .progress-bar(role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")

        .b-main-scale__item.col-md
          .b-main-scale__progress.progress
            .progress-bar(role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")

        .b-main-scale__item.col-md
          .b-main-scale__progress.progress
            .progress-bar(role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")


  // end .b-main-scale
  |
  |
