.main-menu {
  margin-left: auto;
  padding-top: 14px;
  &__item {
    min-height: 2rem;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    &_trigger {
      .main-menu__link {
        &:after {
          content: none;
        }
      }
    }
    &.active,
    &:hover {
      border-bottom-color: #f4f7fb;
    }
  }
  &__link {
    position: relative;
    display: block;
    margin-top: 18px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    font-size: .875rem;
    font-weight: 600;
    color: #f4f7fb;
    transition: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
    &[aria-expanded='true'] {
      color: #4a4a4a;
      background-color: #fff;
    }
  }
  &__descrip {
    color: #848e99;
    font-weight: 400;
    display: block;
    margin-top: 9px;
  }
  .dropdown-menu {
    top: 100%;
    width: 250px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 .125rem .25rem rgba(0, 7, 123, .04), 0 .5rem 1.25rem rgba(0, 0, 0, .06);
    li {
      position: relative;
      padding-right: 14px;
      padding-left: 14px;
      position: relative;
      &:not(:last-child) {
        &:after {
          content: '';
          border-bottom: 3px solid #dde1e6;
          display: block;
        }
      }
      a {
        display: block;
        color: $color-main;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 0;
        position: relative;
        &:hover {
          text-decoration: none;
          opacity: 0.5;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
    .dropdown-toggle {
      &::after {
        transform: rotate(45deg);
        position: absolute;
        right: 0;
        top: 20px;
      }
    }
  }
  .dropdown-item {
    padding: 14px 0;
    font-weight: 600;
    line-height: 1.125rem;
    color: #4a4a4a;
    white-space: normal;
    &:not(:last-child) {
      border-bottom: 1px solid #dde1e6;
    }
    &:hover {
      opacity: .5;
      background-color: transparent;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 65px;
    margin-left: 0;
    padding-top: 30px;
    &__link {
      padding-bottom: 0;
      padding-left: 0;
      font-size: 1rem;
      color: #fff;
    }
  }
}



/******************************Drop-down menu work on hover**********************************/


@media only screen and (min-width: 767px) {
  .main-menu li:hover > ul {
    display: block;
  }

  .main-menu .dropdown-menu .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
  }
}
