mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.active
      a.main-menu__link(href="#") Головна
        span.sr-only (поточна)
    li.main-menu__item.nav-item.dropdown
      a.main-menu__link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Всі проекти
      ul.dropdown-menu(aria-labelledby="navbarDropdown")
        li.dropdown
          a.dropdown-toggle(href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 2019
            span.main-menu__descrip Дополнительное описание если нужно
          ul.dropdown-menu(aria-labelledby="navbarDropdown2")
            li
              a(href="#") Вложенное меню третьего уровня в две строчки
        li.dropdown
          a.dropdown-toggle(href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 2019
            span.main-menu__descrip Ширина по максимально длинному пункту но не более 250px
          ul.dropdown-menu(aria-labelledby="navbarDropdown3")
            li
              a(href="#") Вложенное меню третьего уровня
            li
              a(href="#") Вложенное меню третьего уровня в две строчки
    li.main-menu__item
      a.main-menu__link(href="#") Про проект
    li.main-menu__item
      a.main-menu__link(href="#") Як працювати
    li.main-menu__item
      a.main-menu__link(href="#") Додати проект

  // end .navig
