.section-registration {
  padding-bottom: 50px;
  .ui-title {
    margin-bottom: 33px;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 0;
  }
}

.b-registration {
  &__link {
    color: #262626;
    font-size: 0.875rem;
  }
}
