mixin b-form-appeal()

  form.b-form-appeal.ui-form.needs-validation(novalidate)
    .form-group
      .ui-input
        label.ui-input__label(for="appealTitle")
          span.ui-input__label-content Тема звернення
        input.ui-input__field.form-control.js-input#appealTitle(type="text" required)
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="appealText")
          span.ui-input__label-content Опис
        textarea.ui-input__field.form-control.js-input#appealText(required)

    .form-group
      .ui-input
        label.ui-input__label(for="appealName")
          span.ui-input__label-content Ваш Ім'я
        input.ui-input__field.form-control.js-input#appealName(type="text" required)
        .invalid-feedback Поле не заповненне

    .row
      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="appealPhone")
              span.ui-input__label-content Ваш контактний номер телефону
            input.ui-input__field.form-control.js-input#appealPhone(type="text" required)
            .invalid-feedback Поле не заповненне
      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="appealEmail")
              span.ui-input__label-content Ваш E-mail
            input.ui-input__field.form-control.js-input#appealEmail(type="email" required)
            .invalid-feedback Поле не заповненне

    .row
      .col-lg-10
        .form-group
          .ui-upload.js-upload.row.align-items-center
            .col-auto
              button.ui-upload__btn.btn.btn-default.js-upload-btn(type="button") Додайте фото
            .ui-upload__note.col Максимальний розмір файлу — 5 Мб
        .js-upload-container


    .row.justify-content-end.align-items-center
      .col-sm-auto
        .custom-control.custom-checkbox
          input.custom-control-input(type="checkbox" required)#agreement
          label.custom-control-label(for="agreement") Даю згоду на обробку моїх персональних даних
      .col-sm-auto
        button.btn.btn.btn-primary.mt-3.mt-sm-0 Відправити

  // end .b-form-appeal
  |
  |

