mixin b-form-project()

  form.b-form-project.needs-validation(novalidate)
    .b-form-project__label.text-red-2.pb-2 Всі поля є обов’язковими для заповнення
    .form-group
      .ui-input
        label.ui-input__label(for="projectName")
          span.ui-input__label-content Назва проекту
        input.ui-input__field.form-control.js-input#projectName(type="text" required)
        .invalid-feedback Поле не заповненне
      .b-form-project__label Введіть назву проекту, яка описує суть і мету вашої пропозиції. Максимум 20 слів.

    .form-group
      select.selectpicker(data-width="100%" title="Категорія проекту" multiple data-max-options="1" data-style="ui-select ui-select_cast_input" required)
        option(value="") Категорія 1
        option(value="") Категорія 2
        option(value="") Категорія 3
      .b-form-project__label Оберіть один з пунктів переліку.
      .b-form-project__label Проект загального значення — реалізація таких проектів передбачається на земельних ділянках у власності територіальної громади м. Запоріжжя, які мають загальний доступ для всіх мешканців міста.
      .b-form-project__label Проект, пов’язаний з комунальними закладами — проекти, які пов’язані з комунальними закладами, установами та некомерційними підприємствами міського підпорядкування. Реалізація таких проектів передбачається на території або в самих закладах, які мають загальний доступ для всіх мешканців міста.
      .b-form-project__label Проект, пов’язаний з житловим сектором — реалізація таких проектів передбачається на прибудинкових територіях, які мають загальний доступ для всіх мешканців міста.

    .form-group
      select.selectpicker(data-width="100%" title="Напрямок проекту" multiple data-max-options="1" data-style="ui-select ui-select_cast_input" required)
        option(value="") Проект 1
        option(value="") Проект 2
        option(value="") Проект 3
      .b-form-project__label Оберіть один з пунктів переліку.

    .form-group
      .ui-input
        label.ui-input__label(for="projectPlace")
          span.ui-input__label-content Місце реалізації проекту
        input.ui-input__field.form-control.js-input#projectPlace(type="text" required)
        .invalid-feedback Поле не заповненне
      .b-form-project__label Введіть адресу, назву установи або закладу, кадастровий номер земельної ділянки, якщо відомо, де передбачається реалізація вашої пропозиції


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectText")
          span.ui-input__label-content Опис проекту
        textarea.ui-input__field.form-control.js-input#projectText(required)
      .b-form-project__label Опишіть вашу пропозицію: яка існує проблема, яка мета вашого проекту, що потрібно зробити, яка очікується користь від реалізації. Максимум 50 слів.

    .form-group
      select.selectpicker(data-width="100%" title="Тип проекту за вартістю" multiple data-max-options="1" data-style="ui-select ui-select_cast_input" required)
        option(value="") Тип 1
        option(value="") Тип 2
        option(value="") Тип 3
      .b-form-project__label Оберіть один з пунктів переліку.

    .b-form-project__title.pl-3 Загальна вартість проекту
    .b-form-project__label Вкажіть орієнтовну вартість проекту, в т.ч. вартість його складових, за наявності. Врахуйте 10% вартості проекту для покриття ризиків, пов'язаних зі зростанням цін. Якщо проект передбачає проведення будівельних робіт, врахуйте щонайменше 10% вартості будівельних робіт на виготовлення проектно-кошторисної документації.


    .form-group.mt-3
      .b-form-project__price Всього:
        .ui-input.ui-input_no-js.d-inline-block.ml-2.align-middle
          input.ui-input__field.form-control(type="text" required placeholder="0")
          .invalid-feedback Поле не заповненне
        span.b-form-project__label грн


    .form-group
      .ui-input
        label.ui-input__label(for="projectPrice")
          span.ui-input__label-content Вартість складових проекту
        input.ui-input__field.form-control.js-input#projectPrice(type="text")
      .b-form-project__label Введіть вартість складових проекту — робіт, матеріалів — за наявності.

    .ui-upload.mt-5
      .row.justify-content-between.form-group.mb-4
        .col-md-auto
          .ui-upload__upload
            .dropdown
              button.ui-upload__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

              .dropdown-menu(aria-labelledby="dropdownFilesButton")
                .dropdown-item
                  .custom-file
                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                    label.custom-file-label(for="customFile") Документи

                .dropdown-item
                  .custom-file
                    input.custom-file-input#customFile2(type="file" multiple lang="uk")
                    label.custom-file-label(for="customFile2") Фото

        .col-md
          .ui-upload__label Перетягніть сюди файли для завантаження<br>Максимальний розмір файлу — 5 Мб

      .row.form-group.justify-content-between
        .col-auto
          span.ui-upload__name My file collection-SVG-sprite.svg
        .col.text-right
          button.btn-cancel.btn.btn-default(type="button") Cкасувати
            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})
      .row.form-group.justify-content-between
        .col-auto
          span.ui-upload__name My file collection-SVG-sprite.svg
        .col.text-right
          button.btn-cancel.btn.btn-default(type="button") Cкасувати
            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


    .row.mt-5
      .col-md-4
        .b-form-project__radio-title Ви дізналися про Громадський бюджет Запоріжжя через:
        .custom-control.custom-radio
          input.custom-control-input#customRadio1(type="radio" name="customRadio" checked)
          label.custom-control-label(for="customRadio1") друковані засоби масової інформації
        .custom-control.custom-radio
          input.custom-control-input#customRadio2(type="radio" name="customRadio")
          label.custom-control-label(for="customRadio2") телебачення, радіо
        .custom-control.custom-radio
          input.custom-control-input#customRadio3(type="radio" name="customRadio" checked)
          label.custom-control-label(for="customRadio3") інтернет
        .custom-control.custom-radio
          input.custom-control-input#customRadio4(type="radio" name="customRadio")
          label.custom-control-label(for="customRadio4") друзі, знайомі

      .col-md-3
        .b-form-project__radio-title Ваш вік:
        .custom-control.custom-radio
          input.custom-control-input#ageRadio1(type="radio" name="ageRadio" checked)
          label.custom-control-label(for="ageRadio1") менше 18
        .custom-control.custom-radio
          input.custom-control-input#ageRadio2(type="radio" name="ageRadio")
          label.custom-control-label(for="ageRadio2") 19-30
        .custom-control.custom-radio
          input.custom-control-input#ageRadio3(type="radio" name="ageRadio" checked)
          label.custom-control-label(for="ageRadio3") 31-40
        .custom-control.custom-radio
          input.custom-control-input#ageRadio4(type="radio" name="ageRadio")
          label.custom-control-label(for="ageRadio4") 41-50
        .custom-control.custom-radio
          input.custom-control-input#ageRadio5(type="radio" name="ageRadio" checked)
          label.custom-control-label(for="ageRadio5") 51-60
        .custom-control.custom-radio
          input.custom-control-input#ageRadio6(type="radio" name="ageRadio")
          label.custom-control-label(for="ageRadio6") більше 60

      .col-md-auto
        .b-form-project__radio-title Ваш рід занять:
        .custom-control.custom-radio
          input.custom-control-input#statusRadio1(type="radio" name="statusRadio" checked)
          label.custom-control-label(for="statusRadio1") студент
        .custom-control.custom-radio
          input.custom-control-input#statusRadio2(type="radio" name="statusRadio")
          label.custom-control-label(for="statusRadio2") працюю
        .custom-control.custom-radio
          input.custom-control-input#statusRadio3(type="radio" name="statusRadio")
          label.custom-control-label(for="statusRadio3") безробітний
        .custom-control.custom-radio
          input.custom-control-input#statusRadio4(type="radio" name="statusRadio")
          label.custom-control-label(for="statusRadio4") пенсіонер

    .text-right.mt-5.pt-4.mb-5
      button.btn.btn-primary Створити
  // end .b-form-project
  |
  |


mixin b-form-project_idea()

  form.b-form-project.needs-validation(novalidate)
    .b-form-project__label.text-red-2.pb-2 Поля позначені «*» є обов’язковими для заповнення
    .form-group
      .ui-input
        label.ui-input__label(for="projectName")
          span.ui-input__label-content
            span.text-red *
            |  Назва проекту
        input.ui-input__field.form-control.js-input#projectName(type="text" required)
        .invalid-feedback Поле не заповненне

    .row
      .col-md-6
        .form-group
          select.selectpicker(data-width="100%" title="Галузь проекту" multiple data-max-options="1" data-style="ui-select ui-select_cast_input ui-select_required" required)
            option(value="") Галузь 1
            option(value="") Галузь 2
            option(value="") Галузь 3
      .col-md-6
        .form-group
          select.selectpicker(data-width="100%" title="Категорія проекту" multiple data-max-options="1" data-style="ui-select ui-select_cast_input ui-select_required" required)
            option(value="") Категорія 1
            option(value="") Категорія 2
            option(value="") Категорія 3

    .form-group
      .ui-input
        label.ui-input__label(for="projectAddress")
          span.ui-input__label-content Адреса місця реалізації проекту
        input.ui-input__field.form-control.js-input#projectAddress(type="text")
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-input
        label.ui-input__label(for="projectNameObject")
          span.ui-input__label-content Назва установи / закладу
        input.ui-input__field.form-control.js-input#projectNameObject(type="text")
        .invalid-feedback Поле не заповненне


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectDescrip")
          span.ui-input__label-content
            span.text-red *
            |  Короткий опис проекту
        textarea.ui-input__field.form-control.js-input#projectDescrip(required)


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectProblem")
          span.ui-input__label-content
            span.text-red *
            |  Проблема
        textarea.ui-input__field.form-control.js-input#projectProblem(required)


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectMeta")
          span.ui-input__label-content
            span.text-red *
            |  Мета проекту
        textarea.ui-input__field.form-control.js-input#projectMeta(required)


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectDecision")
          span.ui-input__label-content
            span.text-red *
            |  Вирішення проблеми
        textarea.ui-input__field.form-control.js-input#projectDecision(required)
      .b-form-project__label  Пропоноване рішення вирішення проблеми і його обґрунтування

    .form-group
      .ui-input
        label.ui-input__label(for="projectCategory")
          span.ui-input__label-content Категорія мешканців
        input.ui-input__field.form-control.js-input#projectCategory(type="text" )
        .invalid-feedback Поле не заповненне
      .b-form-project__label Для кого цей проект (основні групи мешканців, які зможуть користуватись результатами реалізації)


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectPlan")
          span.ui-input__label-content План заходів з реалізації проекту
        textarea.ui-input__field.form-control.js-input#projectPlan


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectKeys")
          span.ui-input__label-content
            span.text-red *
            |  Ключові показники оцінки
        textarea.ui-input__field.form-control.js-input#projectKeys(required)
      .b-form-project__label Ключові показники оцінки результату проекту: економічні (наприклад, збільшення надходжень до бюджету, економія ресурсів, тощо), соціальні (наприклад, рівень охоплення дітей фізкультурою та спортом, тощо), екологічні (наприклад, зменшення забруднення навколишнього середовища, тощо), інші показники, які можна використати для оцінки досягнення результатів практичної реалізації проекту.



    .form-group
      .ui-input
        label.ui-input__label(for="projectPrice")
          span.ui-input__label-content
            span.text-red *
            |  Орієнтовна загальна вартість проекту
        input.ui-input__field.form-control.js-input#projectPrice(type="text" required)
        .invalid-feedback Поле не заповненне



    .form-group
      .ui-input
        label.ui-input__label(for="projectTerm")
          span.ui-input__label-content
            span.text-red *
            |  Очікуваний термін реалізації проекту
        input.ui-input__field.form-control.js-input#projectTerm(type="text" required)
        .invalid-feedback Поле не заповненне


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectRisk")
          span.ui-input__label-content Ризики (перешкоди) у реалізації проекту
        textarea.ui-input__field.form-control.js-input#projectRisk


    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="projectExamples")
          span.ui-input__label-content Приклади схожих рішень
        textarea.ui-input__field.form-control.js-input#projectExamples

    p.mt-5.mb-4
      span.text-red *
      |  Бюджет проекту

    .table-responsive
      table.b-form-project-table.w-100
        thead
          tr
            th Найменування товарів (робіт, послуг)
            th Ціна за одиницю, грн.
            th Вартість, грн.
            th
              button.btn-add.mx-auto(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

        tbody
          tr
            td
              input.form-control.bg-gray(type="text" required)
            td
              input.form-control.bg-gray(type="text" placeholder="0" required)
            td
              input.form-control.bg-gray(type="text" placeholder="0" required)
            td
          tr
            td
              input.form-control.bg-gray(type="text" required)
            td
              input.form-control.bg-gray(type="text" placeholder="0" required)
            td
              input.form-control.bg-gray(type="text" placeholder="0" required)
            td.text-center
              button.close.text-red(type="button" aria-label="Close")
                span(aria-hidden="true") &times;




    .ui-upload.mt-5
      .row.justify-content-between.form-group.mb-4
        .col-md-auto
          .ui-upload__upload
            .dropdown
              button.ui-upload__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

              .dropdown-menu(aria-labelledby="dropdownFilesButton")
                .dropdown-item
                  .custom-file
                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                    label.custom-file-label(for="customFile") Документи

                .dropdown-item
                  .custom-file
                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                    label.custom-file-label(for="customFile") Фото

        .col-md
          .ui-upload__label Перетягніть сюди файли для завантаження<br>Максимальний розмір файлу — 5 Мб

      .row.form-group.justify-content-between
        .col-auto
          span.ui-upload__name My file collection-SVG-sprite.svg
        .col.text-right
          button.btn-cancel.btn.btn-default(type="button") Cкасувати
            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})
      .row.form-group.justify-content-between
        .col-auto
          span.ui-upload__name My file collection-SVG-sprite.svg
        .col.text-right
          button.btn-cancel.btn.btn-default(type="button") Cкасувати
            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})

    .b-form-project__label Контактні дані автора проекту для зворотного зв’язку із громадськістю будуть загальнодоступні, у тому числі для авторів інших пропозицій, мешканців, представників засобів масової інформації, з метою обміну думками, інформацією, можливих узгоджень тощо. Автор надає згоду на опрацювання, оприлюднення і використання цих контактних даних.

    .row.mt-5.pt-4.mb-5.justify-content-end.no-gutters
      .col-md-5
        .b-form-project__label.mt-0.pr-2 Підписуючи документ, я, разом з цим заявляю, що є мешканцем міста.
      .col-md-auto
        button.btn.btn-primary.ml-3 Відправити
  // end .b-form-project
  |
  |
