.b-form-project {
  &__title {
    font-weight: 600;
    margin-bottom: 6px;
  }
  &__radio-title {
    font-weight: 600;
    min-height: 3.938rem;
    margin-bottom: 17px;
  }
  &__label {
    padding-left: 1rem;
    color: #848e99;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  &__price {
    .ui-input__field {
      position: relative;
    }
  }
  .custom-control-label {
    color: $color-main;
    font-weight: 600;
  }
  .custom-control:not(:last-child) {
    margin-bottom: 25px;
  }
  .form-group {
    margin-bottom: 2rem;
  }


  @include media-breakpoint-down(sm) {
    &__radio-title {
      min-height: 0;
      margin-bottom: 25px;
      margin-top: 40px;
    }
  }
}

.b-form-project-table {
  thead {
    tr {
    }
    th {
      text-align: center;
      color: #848e99;
      font-size: 1rem;
      font-weight: 400;
      padding-bottom: 5px;
      &:not(:last-child) {
        padding-right: 20px;
      }
    }
    .btn-add {
      background-color: transparent;
      border: none;
    }
  }
  tbody {
    tr {}
    td {
      padding-bottom: 36px;
      &:not(:last-child) {
        padding-right: 20px;
      }
      .close {
        font-size: 2em;
        font-weight: 400;
        opacity: 1;
        cursor: pointer;
        float: none;
      }
    }
  }
  .form-control {
    border-color: #f4f7fb;
    height: calc(3.9rem + 2px);
  }
}
